{{#> layouts/empty title='Сайт временно недоступен' }}
<style>
  .disabled-page__title{
    
  }
  .disabled-page__subtitle{

  }
</style>
<div class="disabled-page">
  {{{getImg src="cons.png"}}}
  <div class="disabled-page__text-wrap">
    <div class="disabled-page__title">Сайт временно недоступен</div>
    <div class="disabled-page__subtitle">Ведутся технические работы</div>
  </div>
</div>
{{/layouts/empty}}