{{#> layouts/main title='Sitemap' }}
    {{> shared/menu-gray}}
	<div class="section section-sitemap">
		<div class="container">
			<ul class="sitemap">
				{{#with this.store.pages}}
					{{#each this}}
						<li class="sitemap__page">
							<a href="{{href}}"
							   class="{{class}}"
							   {{#if
								target}}
							   data-target={{target}}
							   {{/if}}>
								{{label}}
							</a>
						</li>
					{{/each}}
				{{/with}}
			</ul>
		</div>
	</div>
{{/layouts/main}}