{{#> layouts/main title="Присоединение к Соглашению о неразглашении конфиденциальной информации"
titleValue="Присоединение к Соглашению о неразглашении конфиденциальной информации"}}
<div class="section__text-wrap" style="max-width: 809px; margin-bottom: 48px;">
  <p class="section__descr">
    Для того, чтобы присоединиться к Соглашению о неразглашении конфиденциальной информации (NDA) необходимо:
  </p>
  <br>
  <ol class="num-list-ol" style="margin-bottom: 48px;">
    <li class="num-list-ol-item">Ознакомиться с условиями Соглашения;</li>
    <li class="num-list-ol-item">Скачать Заявление о присоединении к Соглашению</li>
    <li class="num-list-ol-item">Заполнить и подписать Заявление</li>
    <li class="num-list-ol-item">Направить в наш адрес одним из выбранных способов:
      <ul class="num-list-ul">
        <br>
        <li>Посредством электронного документооборота или</li>
        <li>Путем направления скан-копии Заявления на электронную почту лицу, которое ранее с Вами взаимодействовало от
          лица
          Компании по вопросу заключения Соглашения. После направления скан-копии потребуется направить также и оригинал
          по
          адресу, указанному в Заявлении.</li>
      </ul>
    </li>
  </ol>
  <div class="section__text-wrap internship" bis_skin_checked="1">
    <a href="" target="_blank" class="section__text-link" data-ajax-url="" bis_skin_checked="1">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Left Icon">
          <g id="Vector">
            <path d="M8.28083 11.8114L11.6939 7.69411H8.97417V2.20593H7.58813V7.69411H4.84139L8.28083 11.8114Z"
              fill="#00AAE6"></path>
            <path d="M2.10547 10.7816H3.48061V13.1881H13.0854V10.7816H14.4542V14.5543H8.27984H2.10547V10.7816Z"
              fill="#00AAE6"></path>
          </g>
        </g>
      </svg>

      Соглашение
    </a>
  </div>
  <div class="section__text-wrap internship" bis_skin_checked="1">
    <a href="" target="_blank" class="section__text-link" data-ajax-url="" bis_skin_checked="1">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Left Icon">
          <g id="Vector">
            <path d="M8.28083 11.8114L11.6939 7.69411H8.97417V2.20593H7.58813V7.69411H4.84139L8.28083 11.8114Z"
              fill="#00AAE6"></path>
            <path d="M2.10547 10.7816H3.48061V13.1881H13.0854V10.7816H14.4542V14.5543H8.27984H2.10547V10.7816Z"
              fill="#00AAE6"></path>
          </g>
        </g>
      </svg>

      Заявление
    </a>
  </div>
</div>
{{/layouts/main}}