{{#> layouts/main title='Открытая школа для Java-разработчиков' titleValue='Открытая школа для Java-разработчиков'
breadcrumbs=this.store.breadcrumbs.openschool}}
<div class="b-layout__main-content">
  <div class="b-block-internship-detail">
    <div class="b-block-internship-detail__head">
      <div class="b-block-internship-detail__description">
        <div class="b-block-internship-detail__img">
          {{{ getImg src="openschool/openschool-java.png"}}}
        </div>
        <div class="b-block-internship-detail__content">
          <div class="b-block-internship-detail__content__wrap">
            <div class="b-block-internship-detail__content__text-wrap">
              <div class="b-block-internship-detail__content__text-block">
                <p class="b-block-internship-detail__content__text">
                  Открытые школы Т1 — это новая уникальная программа найма от Холдинга Т1 в формате бесплатного
                  ИТ-интенсива для junior и
                  middle специалистов. Она объединяет в себе offer weeks и онлайн-обучение без отрыва от работы.
                </p>
                <p class="b-block-internship-detail__content__text">
                  Наша цель — формирование команды профессионалов, готовых к вызовам современной индустрии.
                </p>
                <p class="b-block-internship-detail__content__text">
                  В Т1 вас ждут интересные задачи и инновационные проекты, рост и развитие при экспертной поддержке,
                  расширенный пакет
                  бенефитов и многое другое.
                </p>
              </div>
            </div>
            <a href="#form" class="btn-blue">Подать заявку</a>
          </div>
        </div>

        {{#with this.store.openschollsList}}
        {{> shared/section__title}}
        {{> sections/block-culture-slider}}
        {{/with}}

        <h2 class="section__title">Как устроено обучение</h2>
        <div class="section__text-wrap internship">
          <p class="section__descr">
            Интенсив длится всего 1 месяц. Период проведения — апрель-май 2024 года. </p>
          <p class="section__descr">
            Подать заявку и пройти интенсив можно из любого города.
          </p>
        </div>
        <div class="b-block-internship-detail__steps">
          <div class="b-block-internship-detail__steps__wrap">
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_16670_11284" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="40" y="30"
                    width="52" height="60">
                    <rect width="29.4179" height="29.4179"
                      transform="matrix(0.866025 0.5 -2.20305e-08 1 40.7969 44.9316)" fill="#02C2FD"></rect>
                    <rect width="29.4179" height="29.4179"
                      transform="matrix(0.866025 -0.5 2.20305e-08 1 66.2734 59.6387)" fill="#02C2FD"></rect>
                    <rect width="29.4179" height="29.4179"
                      transform="matrix(0.866025 -0.5 0.866025 0.5 40.7969 44.9316)" fill="#02C2FD"></rect>
                  </mask>
                  <g mask="url(#mask0_16670_11284)">
                    <g filter="url(#filter0_f_16670_11284)">
                      <rect width="29.4179" height="29.4179"
                        transform="matrix(0.866025 -0.5 2.20305e-08 1 34.1426 40.7705)" fill="#02C2FD"></rect>
                      <rect width="29.4179" height="29.4179"
                        transform="matrix(0.866025 -0.5 0.866025 0.5 8.66406 26.0625)" fill="#49D1FC"></rect>
                    </g>
                  </g>
                  <mask id="mask1_16670_11284" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                    width="100" height="100">
                    <mask id="path-6-inside-1_16670_11284" fill="white">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M100 0H0V100H100V0ZM66.273 59.6399L66.2725 59.6396V59.6388L91.7479 44.9305L91.7491 44.9312V44.9313L66.273 59.6399ZM66.2735 89.0561V59.6402L66.273 59.6399L66.2726 59.6402L66.2725 59.6402V59.6396L40.7969 44.9313V44.9318L40.7959 44.9313L66.2726 30.2223L91.7479 44.9305L91.7491 44.9298V44.9312L91.7492 44.9313L91.7491 44.9313V74.3477L66.2735 89.0561ZM66.2735 89.0561V89.0581L40.7969 74.3492V44.9318L66.2725 59.6402V89.0567L66.2735 89.0561Z">
                      </path>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M100 0H0V100H100V0ZM66.273 59.6399L66.2725 59.6396V59.6388L91.7479 44.9305L91.7491 44.9312V44.9313L66.273 59.6399ZM66.2735 89.0561V59.6402L66.273 59.6399L66.2726 59.6402L66.2725 59.6402V59.6396L40.7969 44.9313V44.9318L40.7959 44.9313L66.2726 30.2223L91.7479 44.9305L91.7491 44.9298V44.9312L91.7492 44.9313L91.7491 44.9313V74.3477L66.2735 89.0561ZM66.2735 89.0561V89.0581L40.7969 74.3492V44.9318L66.2725 59.6402V89.0567L66.2735 89.0561Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M0 0V-1.5H-1.5V0H0ZM100 0H101.5V-1.5H100V0ZM0 100H-1.5V101.5H0V100ZM100 100V101.5H101.5V100H100ZM66.2725 59.6388L65.5225 58.3397L64.7725 58.7727V59.6388H66.2725ZM66.2735 59.6402H67.7735V58.7748L67.0243 58.3416L66.2735 59.6402ZM66.2726 59.6402L65.523 60.9395L66.2733 61.3724L67.0233 60.9388L66.2726 59.6402ZM40.7969 44.9313L41.5469 43.6322L39.2969 42.3332V44.9313H40.7969ZM40.7959 44.9313L40.0459 43.6322L37.7974 44.9304L40.0451 46.2299L40.7959 44.9313ZM66.2726 30.2223L67.0226 28.9233L66.2726 28.4902L65.5226 28.9233L66.2726 30.2223ZM91.7491 44.9298H93.2491V42.3338L91 43.6303L91.7491 44.9298ZM91.7492 44.9313L92.4934 46.2336L94.7726 44.9313L92.4934 43.6289L91.7492 44.9313ZM91.7491 74.3477L92.4991 75.6468L93.2491 75.2138V74.3477H91.7491ZM66.2735 89.0581L65.5235 90.3572L67.7735 91.6562V89.0581H66.2735ZM40.7969 74.3492H39.2969V75.2152L40.0469 75.6482L40.7969 74.3492ZM66.2725 89.0567H64.7725V91.6483L67.0196 90.3573L66.2725 89.0567ZM0 1.5H100V-1.5H0V1.5ZM1.5 100V0H-1.5V100H1.5ZM100 98.5H0V101.5H100V98.5ZM98.5 0V100H101.5V0H98.5ZM65.5219 60.9383L65.5225 60.9386L67.0236 58.3412L67.023 58.3409L65.5219 60.9383ZM67.7725 59.6396V59.6388H64.7725V59.6396H67.7725ZM67.0225 60.9378L92.4979 46.2295L90.9979 43.6315L65.5225 58.3397L67.0225 60.9378ZM90.9988 46.2301L91 46.2307L92.4982 43.6316L92.497 43.6309L90.9988 46.2301ZM90.2491 44.9312V44.9313H93.2491V44.9312H90.2491ZM90.9991 43.6323L65.523 58.3409L67.023 60.939L92.4991 46.2304L90.9991 43.6323ZM64.7735 59.6402V89.0561H67.7735V59.6402H64.7735ZM65.5223 60.9385L65.5228 60.9388L67.0243 58.3416L67.0238 58.3413L65.5223 60.9385ZM65.5223 58.3413L65.5218 58.3416L67.0233 60.9388L67.0238 60.9385L65.5223 58.3413ZM67.0221 58.3409L67.022 58.3409L65.5229 60.9394L65.523 60.9395L67.0221 58.3409ZM67.7725 59.6402V59.6396H64.7725V59.6402H67.7725ZM40.0469 46.2303L65.5225 60.9386L67.0225 58.3405L41.5469 43.6322L40.0469 46.2303ZM42.2969 44.9318V44.9313H39.2969V44.9318H42.2969ZM41.5476 43.6332L41.5467 43.6326L40.0451 46.2299L40.0461 46.2304L41.5476 43.6332ZM41.5459 46.2303L67.0226 31.5213L65.5226 28.9233L40.0459 43.6322L41.5459 46.2303ZM65.5226 31.5213L90.9979 46.2295L92.4979 43.6315L67.0226 28.9233L65.5226 31.5213ZM92.497 46.2301L92.4982 46.2294L91 43.6303L90.9988 43.6309L92.497 46.2301ZM90.2491 44.9298V44.9312H93.2491V44.9298H90.2491ZM91.0049 46.2336L91.005 46.2336L92.4934 43.6289L92.4933 43.6288L91.0049 46.2336ZM91.005 43.6289L91.0049 43.6289L92.4933 46.2337L92.4934 46.2336L91.005 43.6289ZM90.2491 44.9313V74.3477H93.2491V44.9313H90.2491ZM90.9991 73.0487L65.5235 87.757L67.0235 90.3551L92.4991 75.6468L90.9991 73.0487ZM64.7735 89.0561V89.0581H67.7735V89.0561H64.7735ZM67.0235 87.7591L41.5469 73.0501L40.0469 75.6482L65.5235 90.3572L67.0235 87.7591ZM42.2969 74.3492V44.9318H39.2969V74.3492H42.2969ZM67.0225 58.3411L41.5469 43.6328L40.0469 46.2309L65.5225 60.9392L67.0225 58.3411ZM67.7725 89.0567V59.6402H64.7725V89.0567H67.7725ZM65.5264 87.7554L65.5253 87.756L67.0196 90.3573L67.0207 90.3567L65.5264 87.7554Z"
                      fill="white" fill-opacity="0.1" mask="url(#path-6-inside-1_16670_11284)"></path>
                  </mask>
                  <g mask="url(#mask1_16670_11284)">
                    <rect width="29.4179" height="29.4179"
                      transform="matrix(0.866025 0.5 -2.20305e-08 1 8.66406 26.0615)" fill="#2DCDFF"></rect>
                    <rect width="29.4179" height="29.4179"
                      transform="matrix(0.866025 -0.5 2.20305e-08 1 34.1406 40.7695)" fill="#02C2FD"></rect>
                    <rect width="29.4179" height="29.4179"
                      transform="matrix(0.866025 -0.5 0.866025 0.5 8.66211 26.0615)" fill="#49D1FC"></rect>
                  </g>
                  <rect width="29.4179" height="29.4179" transform="matrix(0.866025 0.5 -2.20305e-08 1 40.7969 44.9316)"
                    fill="#01ABE6" fill-opacity="0.1">
                  </rect>
                  <rect x="0.324759" y="0.5625" width="28.6679" height="28.6679"
                    transform="matrix(0.866025 0.5 -2.20305e-08 1 40.8404 44.7693)" stroke="white" stroke-opacity="0.1"
                    stroke-width="0.75"></rect>
                  <rect width="29.4179" height="29.4179" transform="matrix(0.866025 -0.5 2.20305e-08 1 66.2734 59.6387)"
                    fill="#01ABE6" fill-opacity="0.1">
                  </rect>
                  <rect x="0.32476" y="0.1875" width="28.6679" height="28.6679"
                    transform="matrix(0.866025 -0.5 2.20305e-08 1 66.3169 59.8011)" stroke="white" stroke-opacity="0.1"
                    stroke-width="0.75"></rect>
                  <rect width="29.4179" height="29.4179" transform="matrix(0.866025 -0.5 0.866025 0.5 40.7969 44.9316)"
                    fill="#01ABE6" fill-opacity="0.1">
                  </rect>
                  <rect x="0.649519" width="28.6679" height="28.6679"
                    transform="matrix(0.866025 -0.5 0.866025 0.5 40.8839 45.2564)" stroke="white" stroke-opacity="0.1"
                    stroke-width="0.75"></rect>
                  <defs>
                    <filter id="filter0_f_16670_11284" x="2.66406" y="5.35352" width="62.9551" height="70.8359"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                      <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_16670_11284"></feGaussianBlur>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">Гибкий
                график</div>
              <div class="b-block-internship-detail__steps__item__descr">Обучение
                проходит без отрыва от основной работы</div>
            </div>
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="50.3574" y="67.7617" width="16.0966" height="20.8235" fill="#02C2FD"></rect>
                  <rect x="41" y="88" width="35" height="4" rx="2" fill="#02C2FD"></rect>
                  <g filter="url(#filter0_b_16670_13942)">
                    <rect x="24.8984" y="27.9229" width="67.0167" height="46.9987" rx="4.60649" fill="#02C2FD"></rect>
                    <rect x="25.526" y="28.5504" width="65.7616" height="45.7435" rx="3.97892" stroke="white"
                      stroke-opacity="0.15" stroke-width="1.25513"></rect>
                  </g>
                  <circle cx="58.4069" cy="68.944" r="2.28583" fill="#FFFFFD"></circle>
                  <g filter="url(#filter1_b_16670_13942)">
                    <circle cx="32.5388" cy="32.0603" r="23.5818" fill="#00ADE9" fill-opacity="0.1"></circle>
                    <circle cx="32.5388" cy="32.0603" r="22.9542" stroke="white" stroke-opacity="0.15"
                      stroke-width="1.25513"></circle>
                  </g>
                  <defs>
                    <filter id="filter0_b_16670_13942" x="12.6145" y="15.6389" width="91.5855" height="71.567"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feGaussianBlur in="BackgroundImageFix" stdDeviation="6.14199"></feGaussianBlur>
                      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_16670_13942">
                      </feComposite>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_16670_13942" result="shape">
                      </feBlend>
                    </filter>
                    <filter id="filter1_b_16670_13942" x="-1.85998" y="-2.3385" width="68.7981" height="68.7971"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feGaussianBlur in="BackgroundImageFix" stdDeviation="5.40851"></feGaussianBlur>
                      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_16670_13942">
                      </feComposite>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_16670_13942" result="shape">
                      </feBlend>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">Онлайн и по
                вечерам</div>
              <div class="b-block-internship-detail__steps__item__descr">Всё онлайн
                и по вечерам (по московскому времени)</div>
            </div>
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_16670_8044" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="12" y="13"
                    width="35" height="35">
                    <ellipse cx="29.4247" cy="30.2939" rx="16.7216" ry="16.7216" fill="#02C2FD"></ellipse>
                  </mask>
                  <g mask="url(#mask0_16670_8044)">
                    <g filter="url(#filter0_f_16670_8044)">
                      <ellipse cx="54.3836" cy="54.0106" rx="32.3602" ry="32.3602" fill="#02C2FD"></ellipse>
                    </g>
                  </g>
                  <mask id="mask1_16670_8044" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100"
                    height="100">
                    <mask id="path-3-inside-1_16670_8044" fill="white">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M100 0H0V100H100V0ZM29.4238 47.0155C38.6589 47.0155 46.1454 39.529 46.1454 30.2939C46.1454 21.0588 38.6589 13.5723 29.4238 13.5723C20.1887 13.5723 12.7021 21.0588 12.7021 30.2939C12.7021 39.529 20.1887 47.0155 29.4238 47.0155Z">
                      </path>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M100 0H0V100H100V0ZM29.4238 47.0155C38.6589 47.0155 46.1454 39.529 46.1454 30.2939C46.1454 21.0588 38.6589 13.5723 29.4238 13.5723C20.1887 13.5723 12.7021 21.0588 12.7021 30.2939C12.7021 39.529 20.1887 47.0155 29.4238 47.0155Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M0 0V-1.5H-1.5V0H0ZM100 0H101.5V-1.5H100V0ZM0 100H-1.5V101.5H0V100ZM100 100V101.5H101.5V100H100ZM0 1.5H100V-1.5H0V1.5ZM1.5 100V0H-1.5V100H1.5ZM100 98.5H0V101.5H100V98.5ZM98.5 0V100H101.5V0H98.5ZM44.6454 30.2939C44.6454 38.7006 37.8304 45.5155 29.4238 45.5155V48.5155C39.4873 48.5155 47.6454 40.3574 47.6454 30.2939H44.6454ZM29.4238 15.0723C37.8304 15.0723 44.6454 21.8872 44.6454 30.2939H47.6454C47.6454 20.2304 39.4873 12.0723 29.4238 12.0723V15.0723ZM14.2021 30.2939C14.2021 21.8872 21.0171 15.0723 29.4238 15.0723V12.0723C19.3602 12.0723 11.2021 20.2304 11.2021 30.2939H14.2021ZM29.4238 45.5155C21.0171 45.5155 14.2021 38.7006 14.2021 30.2939H11.2021C11.2021 40.3574 19.3602 48.5155 29.4238 48.5155V45.5155Z"
                      fill="white" fill-opacity="0.1" mask="url(#path-3-inside-1_16670_8044)"></path>
                  </mask>
                  <g mask="url(#mask1_16670_8044)">
                    <ellipse cx="54.3836" cy="54.0106" rx="32.3602" ry="32.3602" fill="#02C2FD"></ellipse>
                  </g>
                  <path
                    d="M50.8203 40.7575C50.8203 39.3511 51.9604 38.2109 53.3669 38.2109C54.7733 38.2109 55.9134 39.3511 55.9134 40.7575V58.7328C55.9134 60.1393 54.7733 61.2794 53.3669 61.2794C51.9604 61.2794 50.8203 60.1393 50.8203 58.7328V40.7575Z"
                    fill="white"></path>
                  <path
                    d="M53.3669 61.2808C51.9604 61.2808 50.8203 60.1406 50.8203 58.7342C50.8203 57.3278 51.9604 56.1876 53.3669 56.1876H66.7064C68.1128 56.1876 69.253 57.3278 69.253 58.7342C69.253 60.1406 68.1128 61.2808 66.7064 61.2808H53.3669Z"
                    fill="white"></path>
                  <ellipse cx="29.4247" cy="30.2939" rx="16.7216" ry="16.7216" fill="#01ABE6" fill-opacity="0.1">
                  </ellipse>
                  <path
                    d="M45.3964 30.2939C45.3964 39.1148 38.2456 46.2655 29.4247 46.2655C20.6039 46.2655 13.4531 39.1148 13.4531 30.2939C13.4531 21.473 20.6039 14.3223 29.4247 14.3223C38.2456 14.3223 45.3964 21.473 45.3964 30.2939Z"
                    stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                  <defs>
                    <filter id="filter0_f_16670_8044" x="16.0234" y="15.6504" width="76.7207" height="76.7207"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                      <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_16670_8044"></feGaussianBlur>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">8 часов в
                неделю</div>
              <div class="b-block-internship-detail__steps__item__descr">По 4 часа на
                вебинары и самостоятельную практику</div>
            </div>
          </div>
        </div>
        <h2 class="section__title">Кому подойдет</h2>
        <div class="section__text-wrap internship">
          <p class="section__descr">
            Мы поможем улучшить навыки и освоить новые перспективы для развития внутри профессии, если вы: <br>
          </p>
          <ul>
            <li>готовы к переменам в карьере</li>
            <li>хотите присоединиться к <a href="/career" class="link">команде Т1</a>, нас уже
              более 20 тысяч и мы лидируем* на ИТ-рынке!</li>
            <li>имеете опыт работы от года в одном из направлений подбора</li>
          </ul>
        </div>
        <h2 class="section__title">Как это работает</h2>
        <div class="b-block-internship-detail__steps">
          <div class="b-block-internship-detail__steps__wrap">
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_19_1185" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="43" y="30" width="38"
                    height="64">
                    <rect x="43" y="30" width="38" height="64" rx="2.51027" fill="#02C2FD"></rect>
                  </mask>
                  <g mask="url(#mask0_19_1185)">
                    <g filter="url(#filter0_f_19_1185)">
                      <path
                        d="M49.0064 20C50.1993 20 51.1664 20.9671 51.1664 22.16V78.6656C51.1664 79.8585 50.1993 80.8256 49.0064 80.8256H38.2064C37.0135 80.8256 36.0464 79.8585 36.0464 78.6656V40.3708C36.0464 38.6622 34.1565 37.63 32.719 38.5535L26.3274 42.6593C24.8899 43.5828 23 42.5506 23 40.842V30.9019C23 30.1893 23.3515 29.5225 23.9395 29.1198L36.7042 20.3779C37.0637 20.1317 37.4891 20 37.9247 20H49.0064Z"
                        fill="#02C2FD"></path>
                      <path
                        d="M49.0064 20.75C49.7851 20.75 50.4164 21.3813 50.4164 22.16V78.6656C50.4164 79.4443 49.7851 80.0756 49.0064 80.0756H38.2064C37.4277 80.0756 36.7964 79.4443 36.7964 78.6656V40.3708C36.7964 38.069 34.2503 36.6784 32.3136 37.9225L25.9221 42.0283C24.9837 42.6311 23.75 41.9573 23.75 40.842V30.9019C23.75 30.4367 23.9795 30.0014 24.3633 29.7386L37.128 20.9967C37.3626 20.836 37.6404 20.75 37.9247 20.75H49.0064Z"
                        stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                    </g>
                  </g>
                  <mask id="mask1_19_1185" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100"
                    height="100">
                    <mask id="path-4-inside-1_19_1185" fill="white">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M100 0H0V100H100V0ZM45.5103 30C44.1239 30 43 31.1239 43 32.5103V91.4897C43 92.8761 44.1239 94 45.5103 94H78.4897C79.8761 94 81 92.8761 81 91.4897V32.5103C81 31.1239 79.8761 30 78.4897 30H45.5103Z">
                      </path>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M100 0H0V100H100V0ZM45.5103 30C44.1239 30 43 31.1239 43 32.5103V91.4897C43 92.8761 44.1239 94 45.5103 94H78.4897C79.8761 94 81 92.8761 81 91.4897V32.5103C81 31.1239 79.8761 30 78.4897 30H45.5103Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M0 0V-1.5H-1.5V0H0ZM100 0H101.5V-1.5H100V0ZM0 100H-1.5V101.5H0V100ZM100 100V101.5H101.5V100H100ZM0 1.5H100V-1.5H0V1.5ZM1.5 100V0H-1.5V100H1.5ZM100 98.5H0V101.5H100V98.5ZM98.5 0V100H101.5V0H98.5ZM44.5 32.5103C44.5 31.9523 44.9523 31.5 45.5103 31.5V28.5C43.2955 28.5 41.5 30.2955 41.5 32.5103H44.5ZM44.5 91.4897V32.5103H41.5V91.4897H44.5ZM45.5103 92.5C44.9523 92.5 44.5 92.0477 44.5 91.4897H41.5C41.5 93.7045 43.2955 95.5 45.5103 95.5V92.5ZM78.4897 92.5H45.5103V95.5H78.4897V92.5ZM79.5 91.4897C79.5 92.0477 79.0477 92.5 78.4897 92.5V95.5C80.7045 95.5 82.5 93.7045 82.5 91.4897H79.5ZM79.5 32.5103V91.4897H82.5V32.5103H79.5ZM78.4897 31.5C79.0477 31.5 79.5 31.9523 79.5 32.5103H82.5C82.5 30.2955 80.7045 28.5 78.4897 28.5V31.5ZM45.5103 31.5H78.4897V28.5H45.5103V31.5Z"
                      fill="white" fill-opacity="0.1" mask="url(#path-4-inside-1_19_1185)"></path>
                  </mask>
                  <g mask="url(#mask1_19_1185)">
                    <path
                      d="M49.0064 20C50.1993 20 51.1664 20.9671 51.1664 22.16V78.6656C51.1664 79.8585 50.1993 80.8256 49.0064 80.8256H38.2064C37.0135 80.8256 36.0464 79.8585 36.0464 78.6656V40.3708C36.0464 38.6622 34.1565 37.63 32.719 38.5535L26.3274 42.6593C24.8899 43.5828 23 42.5506 23 40.842V30.9019C23 30.1893 23.3515 29.5225 23.9395 29.1198L36.7042 20.3779C37.0637 20.1317 37.4891 20 37.9247 20H49.0064Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M49.0064 20.75C49.7851 20.75 50.4164 21.3813 50.4164 22.16V78.6656C50.4164 79.4443 49.7851 80.0756 49.0064 80.0756H38.2064C37.4277 80.0756 36.7964 79.4443 36.7964 78.6656V40.3708C36.7964 38.069 34.2503 36.6784 32.3136 37.9225L25.9221 42.0283C24.9837 42.6311 23.75 41.9573 23.75 40.842V30.9019C23.75 30.4367 23.9795 30.0014 24.3633 29.7386L37.128 20.9967C37.3626 20.836 37.6404 20.75 37.9247 20.75H49.0064Z"
                      stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                  </g>
                  <rect x="43" y="30" width="38" height="64" rx="2.51027" fill="#01ABE6" fill-opacity="0.1"></rect>
                  <rect x="43.75" y="30.75" width="36.5" height="62.5" rx="1.76027" stroke="white" stroke-opacity="0.1"
                    stroke-width="1.5"></rect>
                  <defs>
                    <filter id="filter0_f_19_1185" x="17" y="14" width="40.1665" height="72.8256"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                      <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_19_1185"></feGaussianBlur>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">Подайте заявку до 22 апреля</div>
              <div class="b-block-internship-detail__steps__item__descr">Мы рассмотрим резюме и проверим, подходит ли
                ваш профиль по опыту и навыкам</div>
            </div>
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_19_1676" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="54" y="30" width="38"
                    height="64">
                    <rect x="54" y="30" width="38" height="64" rx="2.51027" fill="#02C2FD"></rect>
                  </mask>
                  <g mask="url(#mask0_19_1676)">
                    <g filter="url(#filter0_f_19_1676)">
                      <path
                        d="M51.6352 38.44C51.6352 34.7248 48.784 32.2192 44.5504 32.2192C40.8368 32.2192 38.3628 33.9901 37.2749 36.6048C36.8704 37.5767 36.0046 38.3536 34.9519 38.3536H24.3185C23.0654 38.3536 22.065 37.2864 22.2808 36.052C23.9978 26.2302 32.1362 19 44.896 19C58.9792 19 67.1008 27.3808 67.1008 37.8352C67.1008 46.0432 62.608 51.2272 56.6464 56.3248L47.7741 63.9296C46.2515 65.2347 47.1745 67.7296 49.1798 67.7296H65.8048C66.9977 67.7296 67.9648 68.6967 67.9648 69.8896V78.7888C67.9648 79.9818 66.9977 80.9488 65.8048 80.9488H24.6784C23.4855 80.9488 22.5184 79.9818 22.5184 78.7888V69.5645C22.5184 68.947 22.7827 68.359 23.2445 67.9491L45.5872 48.1168C49.3888 44.7472 51.6352 42.0688 51.6352 38.44Z"
                        fill="#02C2FD"></path>
                      <path
                        d="M56.1583 55.7554L56.159 55.7548C62.0793 50.6924 66.3508 45.7002 66.3508 37.8352C66.3508 32.8107 64.4034 28.3084 60.7787 25.0554C57.1503 21.7991 51.7889 19.75 44.896 19.75C32.46 19.75 24.6671 26.7568 23.0196 36.1812C22.8932 36.9039 23.4762 37.6036 24.3185 37.6036H34.9519C35.6097 37.6036 36.2544 37.1049 36.5824 36.3167C37.7981 33.3951 40.5645 31.4692 44.5504 31.4692C46.8126 31.4692 48.7712 32.1397 50.1753 33.3729C51.5879 34.6135 52.3852 36.3781 52.3852 38.44C52.3852 42.4326 49.8837 45.3107 46.0851 48.6777L56.1583 55.7554ZM56.1583 55.7554L47.286 63.3602C45.2348 65.1184 46.4782 68.4796 49.1798 68.4796H65.8048C66.5835 68.4796 67.2148 69.1109 67.2148 69.8896V78.7888C67.2148 79.5675 66.5835 80.1988 65.8048 80.1988H24.6784C23.8997 80.1988 23.2684 79.5675 23.2684 78.7888V69.5645C23.2684 69.1614 23.4409 68.7776 23.7424 68.51L46.0847 48.6781L56.1583 55.7554Z"
                        stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                    </g>
                  </g>
                  <mask id="mask1_19_1676" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100"
                    height="100">
                    <mask id="path-4-inside-1_19_1676" fill="white">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M100 0H0V100H100V0ZM56.5103 30C55.1239 30 54 31.1239 54 32.5103V91.4897C54 92.8761 55.1239 94 56.5103 94H89.4897C90.8761 94 92 92.8761 92 91.4897V32.5103C92 31.1239 90.8761 30 89.4897 30H56.5103Z">
                      </path>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M100 0H0V100H100V0ZM56.5103 30C55.1239 30 54 31.1239 54 32.5103V91.4897C54 92.8761 55.1239 94 56.5103 94H89.4897C90.8761 94 92 92.8761 92 91.4897V32.5103C92 31.1239 90.8761 30 89.4897 30H56.5103Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M0 0V-1.5H-1.5V0H0ZM100 0H101.5V-1.5H100V0ZM0 100H-1.5V101.5H0V100ZM100 100V101.5H101.5V100H100ZM0 1.5H100V-1.5H0V1.5ZM1.5 100V0H-1.5V100H1.5ZM100 98.5H0V101.5H100V98.5ZM98.5 0V100H101.5V0H98.5ZM55.5 32.5103C55.5 31.9523 55.9523 31.5 56.5103 31.5V28.5C54.2955 28.5 52.5 30.2955 52.5 32.5103H55.5ZM55.5 91.4897V32.5103H52.5V91.4897H55.5ZM56.5103 92.5C55.9523 92.5 55.5 92.0477 55.5 91.4897H52.5C52.5 93.7045 54.2955 95.5 56.5103 95.5V92.5ZM89.4897 92.5H56.5103V95.5H89.4897V92.5ZM90.5 91.4897C90.5 92.0477 90.0477 92.5 89.4897 92.5V95.5C91.7045 95.5 93.5 93.7045 93.5 91.4897H90.5ZM90.5 32.5103V91.4897H93.5V32.5103H90.5ZM89.4897 31.5C90.0477 31.5 90.5 31.9523 90.5 32.5103H93.5C93.5 30.2955 91.7045 28.5 89.4897 28.5V31.5ZM56.5103 31.5H89.4897V28.5H56.5103V31.5Z"
                      fill="white" fill-opacity="0.1" mask="url(#path-4-inside-1_19_1676)"></path>
                  </mask>
                  <g mask="url(#mask1_19_1676)">
                    <path
                      d="M51.6352 38.44C51.6352 34.7248 48.784 32.2192 44.5504 32.2192C40.8368 32.2192 38.3628 33.9901 37.2749 36.6048C36.8704 37.5767 36.0046 38.3536 34.9519 38.3536H24.3185C23.0654 38.3536 22.065 37.2864 22.2808 36.052C23.9978 26.2302 32.1362 19 44.896 19C58.9792 19 67.1008 27.3808 67.1008 37.8352C67.1008 46.0432 62.608 51.2272 56.6464 56.3248L47.7741 63.9296C46.2515 65.2347 47.1745 67.7296 49.1798 67.7296H65.8048C66.9977 67.7296 67.9648 68.6967 67.9648 69.8896V78.7888C67.9648 79.9818 66.9977 80.9488 65.8048 80.9488H24.6784C23.4855 80.9488 22.5184 79.9818 22.5184 78.7888V69.5645C22.5184 68.947 22.7827 68.359 23.2445 67.9491L45.5872 48.1168C49.3888 44.7472 51.6352 42.0688 51.6352 38.44Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M56.1583 55.7554L56.159 55.7548C62.0793 50.6924 66.3508 45.7002 66.3508 37.8352C66.3508 32.8107 64.4034 28.3084 60.7787 25.0554C57.1503 21.7991 51.7889 19.75 44.896 19.75C32.46 19.75 24.6671 26.7568 23.0196 36.1812C22.8932 36.9039 23.4762 37.6036 24.3185 37.6036H34.9519C35.6097 37.6036 36.2544 37.1049 36.5824 36.3167C37.7981 33.3951 40.5645 31.4692 44.5504 31.4692C46.8126 31.4692 48.7712 32.1397 50.1753 33.3729C51.5879 34.6135 52.3852 36.3781 52.3852 38.44C52.3852 42.4326 49.8837 45.3107 46.0851 48.6777L56.1583 55.7554ZM56.1583 55.7554L47.286 63.3602C45.2348 65.1184 46.4782 68.4796 49.1798 68.4796H65.8048C66.5835 68.4796 67.2148 69.1109 67.2148 69.8896V78.7888C67.2148 79.5675 66.5835 80.1988 65.8048 80.1988H24.6784C23.8997 80.1988 23.2684 79.5675 23.2684 78.7888V69.5645C23.2684 69.1614 23.4409 68.7776 23.7424 68.51L46.0847 48.6781L56.1583 55.7554Z"
                      stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                  </g>
                  <rect x="54" y="30" width="38" height="64" rx="2.51027" fill="#01ABE6" fill-opacity="0.1"></rect>
                  <rect x="54.75" y="30.75" width="36.5" height="62.5" rx="1.76027" stroke="white" stroke-opacity="0.1"
                    stroke-width="1.5"></rect>
                  <defs>
                    <filter id="filter0_f_19_1676" x="16.2515" y="13" width="57.7134" height="73.9488"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                      <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_19_1676"></feGaussianBlur>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">Тестирование</div>
              <div class="b-block-internship-detail__steps__item__descr">Если профиль
                подойдет, то попросим пройти тест и пообщаться с нашим
                рекрутером</div>
            </div>
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_19_1737" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="52" y="30" width="38"
                    height="64">
                    <rect x="52" y="30" width="38" height="64" rx="2.51027" fill="#02C2FD"></rect>
                  </mask>
                  <g mask="url(#mask0_19_1737)">
                    <g filter="url(#filter0_f_19_1737)">
                      <path
                        d="M18.8837 36.4896C17.6135 36.4896 16.6066 35.3929 16.8678 34.1499C18.9742 24.1239 28.4277 18 39.6736 18C53.0656 18 61.5328 25.344 61.5328 34.848C61.5328 39.0731 59.9809 42.244 57.8487 44.4971C56.4386 45.9872 56.6338 49.5437 58.239 50.8212C61.254 53.2208 63.6928 57.0257 63.6928 62.5824C63.6928 73.4688 54.1024 81.072 40.1056 81.072C27.7612 81.072 18.1291 74.6678 16.2752 64.1813C16.0578 62.9517 17.0579 61.8912 18.3066 61.8912H29.1328C30.143 61.8912 30.987 62.6114 31.4352 63.5167C32.7399 66.1519 35.6975 68.0256 40.1056 68.0256C44.5984 68.0256 48.3136 65.6928 48.3136 61.4592C48.3136 57.2256 44.5984 55.2384 39.5872 55.2384H35.3536C34.1607 55.2384 33.1936 54.2713 33.1936 53.0784V44.9568C33.1936 43.7639 34.1607 42.7968 35.3536 42.7968H38.3776C43.3024 42.7968 46.24 40.464 46.24 36.8352C46.24 33.3792 43.3888 31.0464 39.0688 31.0464C35.484 31.0464 33.0543 32.6416 31.9553 34.7786C31.476 35.7107 30.6151 36.4896 29.567 36.4896H18.8837Z"
                        fill="#02C2FD"></path>
                      <path
                        d="M18.8837 35.7396C18.0259 35.7396 17.4512 35.0206 17.6017 34.3041C19.6157 24.7183 28.6779 18.75 39.6736 18.75C52.8184 18.75 60.7828 25.9075 60.7828 34.848C60.7828 38.8719 59.3109 41.8608 57.3039 43.9816C56.4017 44.935 56.0847 46.4374 56.1645 47.7833C56.2441 49.1274 56.7359 50.5835 57.7719 51.4081C60.6259 53.6795 62.9428 57.2759 62.9428 62.5824C62.9428 67.7846 60.6596 72.1937 56.6844 75.3201C52.6966 78.4563 46.9742 80.322 40.1056 80.322C28.0018 80.322 18.7851 74.0699 17.0137 64.0507C16.8875 63.3371 17.465 62.6412 18.3066 62.6412H29.1328C29.7647 62.6412 30.3939 63.1039 30.7631 63.8495C32.2211 66.7942 35.478 68.7756 40.1056 68.7756C42.4717 68.7756 44.693 68.1626 46.343 66.931C48.014 65.6839 49.0636 63.8238 49.0636 61.4592C49.0636 59.0838 48.0027 57.2963 46.2426 56.1352C44.5204 54.999 42.1754 54.4884 39.5872 54.4884H35.3536C34.5749 54.4884 33.9436 53.8571 33.9436 53.0784V44.9568C33.9436 44.1781 34.5749 43.5468 35.3536 43.5468H38.3776C40.9482 43.5468 43.0924 42.939 44.6124 41.7716C46.154 40.5877 46.99 38.874 46.99 36.8352C46.99 34.8825 46.1763 33.2207 44.7466 32.0621C43.3303 30.9145 41.3579 30.2964 39.0688 30.2964C35.2498 30.2964 32.536 32.0096 31.2884 34.4356C30.8759 35.2375 30.221 35.7396 29.567 35.7396H18.8837Z"
                        stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                    </g>
                  </g>
                  <mask id="mask1_19_1737" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100"
                    height="100">
                    <mask id="path-4-inside-1_19_1737" fill="white">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M100 0H0V100H100V0ZM54.5103 30C53.1239 30 52 31.1239 52 32.5103V91.4897C52 92.8761 53.1239 94 54.5103 94H87.4897C88.8761 94 90 92.8761 90 91.4897V32.5103C90 31.1239 88.8761 30 87.4897 30H54.5103Z">
                      </path>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M100 0H0V100H100V0ZM54.5103 30C53.1239 30 52 31.1239 52 32.5103V91.4897C52 92.8761 53.1239 94 54.5103 94H87.4897C88.8761 94 90 92.8761 90 91.4897V32.5103C90 31.1239 88.8761 30 87.4897 30H54.5103Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M0 0V-1.5H-1.5V0H0ZM100 0H101.5V-1.5H100V0ZM0 100H-1.5V101.5H0V100ZM100 100V101.5H101.5V100H100ZM0 1.5H100V-1.5H0V1.5ZM1.5 100V0H-1.5V100H1.5ZM100 98.5H0V101.5H100V98.5ZM98.5 0V100H101.5V0H98.5ZM53.5 32.5103C53.5 31.9523 53.9523 31.5 54.5103 31.5V28.5C52.2955 28.5 50.5 30.2955 50.5 32.5103H53.5ZM53.5 91.4897V32.5103H50.5V91.4897H53.5ZM54.5103 92.5C53.9523 92.5 53.5 92.0477 53.5 91.4897H50.5C50.5 93.7045 52.2955 95.5 54.5103 95.5V92.5ZM87.4897 92.5H54.5103V95.5H87.4897V92.5ZM88.5 91.4897C88.5 92.0477 88.0477 92.5 87.4897 92.5V95.5C89.7045 95.5 91.5 93.7045 91.5 91.4897H88.5ZM88.5 32.5103V91.4897H91.5V32.5103H88.5ZM87.4897 31.5C88.0477 31.5 88.5 31.9523 88.5 32.5103H91.5C91.5 30.2955 89.7045 28.5 87.4897 28.5V31.5ZM54.5103 31.5H87.4897V28.5H54.5103V31.5Z"
                      fill="white" fill-opacity="0.1" mask="url(#path-4-inside-1_19_1737)"></path>
                  </mask>
                  <g mask="url(#mask1_19_1737)">
                    <path
                      d="M18.8837 36.4896C17.6135 36.4896 16.6066 35.3929 16.8678 34.1499C18.9742 24.1239 28.4277 18 39.6736 18C53.0656 18 61.5328 25.344 61.5328 34.848C61.5328 39.0731 59.9809 42.244 57.8487 44.4971C56.4386 45.9872 56.6338 49.5437 58.239 50.8212C61.254 53.2208 63.6928 57.0257 63.6928 62.5824C63.6928 73.4688 54.1024 81.072 40.1056 81.072C27.7612 81.072 18.1291 74.6678 16.2752 64.1813C16.0578 62.9517 17.0579 61.8912 18.3066 61.8912H29.1328C30.143 61.8912 30.987 62.6114 31.4352 63.5167C32.7399 66.1519 35.6975 68.0256 40.1056 68.0256C44.5984 68.0256 48.3136 65.6928 48.3136 61.4592C48.3136 57.2256 44.5984 55.2384 39.5872 55.2384H35.3536C34.1607 55.2384 33.1936 54.2713 33.1936 53.0784V44.9568C33.1936 43.7639 34.1607 42.7968 35.3536 42.7968H38.3776C43.3024 42.7968 46.24 40.464 46.24 36.8352C46.24 33.3792 43.3888 31.0464 39.0688 31.0464C35.484 31.0464 33.0543 32.6416 31.9553 34.7786C31.476 35.7107 30.6151 36.4896 29.567 36.4896H18.8837Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M18.8837 35.7396C18.0259 35.7396 17.4512 35.0206 17.6017 34.3041C19.6157 24.7183 28.6779 18.75 39.6736 18.75C52.8184 18.75 60.7828 25.9075 60.7828 34.848C60.7828 38.8719 59.3109 41.8608 57.3039 43.9816C56.4017 44.935 56.0847 46.4374 56.1645 47.7833C56.2441 49.1274 56.7359 50.5835 57.7719 51.4081C60.6259 53.6795 62.9428 57.2759 62.9428 62.5824C62.9428 67.7846 60.6596 72.1937 56.6844 75.3201C52.6966 78.4563 46.9742 80.322 40.1056 80.322C28.0018 80.322 18.7851 74.0699 17.0137 64.0507C16.8875 63.3371 17.465 62.6412 18.3066 62.6412H29.1328C29.7647 62.6412 30.3939 63.1039 30.7631 63.8495C32.2211 66.7942 35.478 68.7756 40.1056 68.7756C42.4717 68.7756 44.693 68.1626 46.343 66.931C48.014 65.6839 49.0636 63.8238 49.0636 61.4592C49.0636 59.0838 48.0027 57.2963 46.2426 56.1352C44.5204 54.999 42.1754 54.4884 39.5872 54.4884H35.3536C34.5749 54.4884 33.9436 53.8571 33.9436 53.0784V44.9568C33.9436 44.1781 34.5749 43.5468 35.3536 43.5468H38.3776C40.9482 43.5468 43.0924 42.939 44.6124 41.7716C46.154 40.5877 46.99 38.874 46.99 36.8352C46.99 34.8825 46.1763 33.2207 44.7466 32.0621C43.3303 30.9145 41.3579 30.2964 39.0688 30.2964C35.2498 30.2964 32.536 32.0096 31.2884 34.4356C30.8759 35.2375 30.221 35.7396 29.567 35.7396H18.8837Z"
                      stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                  </g>
                  <rect x="52" y="30" width="38" height="64" rx="2.51027" fill="#01ABE6" fill-opacity="0.1"></rect>
                  <rect x="52.75" y="30.75" width="36.5" height="62.5" rx="1.76027" stroke="white" stroke-opacity="0.1"
                    stroke-width="1.5"></rect>
                  <defs>
                    <filter id="filter0_f_19_1737" x="10.2454" y="12" width="59.4475" height="75.072"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                      <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_19_1737"></feGaussianBlur>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">Обучение</div>
              <div class="b-block-internship-detail__steps__item__descr">При успешном
                прохождении — зачислим в группу обучения, длительность — 1 месяц</div>
            </div>
            <div class="b-block-internship-detail__steps__item">
              <div class="b-block-internship-detail__steps__item__img">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_19_1484" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="51" y="30" width="38"
                    height="64">
                    <rect x="51" y="30" width="38" height="64" rx="2.51027" fill="#02C2FD"></rect>
                  </mask>
                  <g mask="url(#mask0_19_1484)">
                    <g filter="url(#filter0_f_19_1737)">
                      <path
                        d="M58.1136 78.6656C58.1136 79.8585 57.1465 80.8256 55.9536 80.8256H45.4992C44.3063 80.8256 43.3392 79.8585 43.3392 78.6656V71.84C43.3392 70.6471 42.3721 69.68 41.1792 69.68H17.16C15.9671 69.68 15 68.7129 15 67.52V57.8649C15 57.4557 15.1163 57.0549 15.3353 56.7091L37.9511 21.0042C38.3472 20.3789 39.0358 20 39.7759 20H55.9536C57.1465 20 58.1136 20.9671 58.1136 22.16V54.992C58.1136 56.1849 59.0807 57.152 60.2736 57.152H63.7296C64.9225 57.152 65.8896 58.1191 65.8896 59.312V67.52C65.8896 68.7129 64.9225 69.68 63.7296 69.68H60.2736C59.0807 69.68 58.1136 70.6471 58.1136 71.84V78.6656ZM31.6428 53.8277C30.7226 55.2654 31.7551 57.152 33.4621 57.152H41.1792C42.3721 57.152 43.3392 56.1849 43.3392 54.992V42.934C43.3392 40.776 40.5232 39.952 39.3599 41.7697L31.6428 53.8277Z"
                        fill="#02C2FD"></path>
                      <path
                        d="M57.3636 78.6656C57.3636 79.4443 56.7323 80.0756 55.9536 80.0756H45.4992C44.7205 80.0756 44.0892 79.4443 44.0892 78.6656V71.84C44.0892 70.2329 42.7863 68.93 41.1792 68.93H17.16C16.3813 68.93 15.75 68.2987 15.75 67.52V57.8649C15.75 57.5978 15.8259 57.3361 15.9688 57.1105L38.5847 21.4055C38.8433 20.9974 39.2927 20.75 39.7759 20.75H55.9536C56.7323 20.75 57.3636 21.3813 57.3636 22.16V54.992C57.3636 56.5992 58.6664 57.902 60.2736 57.902H63.7296C64.5083 57.902 65.1396 58.5333 65.1396 59.312V67.52C65.1396 68.2987 64.5083 68.93 63.7296 68.93H60.2736C58.6664 68.93 57.3636 70.2329 57.3636 71.84V78.6656ZM31.0111 53.4234C29.7715 55.3603 31.1625 57.902 33.4621 57.902H41.1792C42.7863 57.902 44.0892 56.5992 44.0892 54.992V42.934C44.0892 40.0267 40.2954 38.9166 38.7282 41.3654L31.0111 53.4234Z"
                        stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                    </g>
                  </g>
                  <mask id="mask1_19_1484" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="100"
                    height="100">
                    <mask id="path-4-inside-1_19_1484" fill="white">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M100 0H0V100H100V0ZM53.5103 30C52.1239 30 51 31.1239 51 32.5103V91.4897C51 92.8761 52.1239 94 53.5103 94H86.4897C87.8761 94 89 92.8761 89 91.4897V32.5103C89 31.1239 87.8761 30 86.4897 30H53.5103Z">
                      </path>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M100 0H0V100H100V0ZM53.5103 30C52.1239 30 51 31.1239 51 32.5103V91.4897C51 92.8761 52.1239 94 53.5103 94H86.4897C87.8761 94 89 92.8761 89 91.4897V32.5103C89 31.1239 87.8761 30 86.4897 30H53.5103Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M0 0V-1.5H-1.5V0H0ZM100 0H101.5V-1.5H100V0ZM0 100H-1.5V101.5H0V100ZM100 100V101.5H101.5V100H100ZM0 1.5H100V-1.5H0V1.5ZM1.5 100V0H-1.5V100H1.5ZM100 98.5H0V101.5H100V98.5ZM98.5 0V100H101.5V0H98.5ZM52.5 32.5103C52.5 31.9523 52.9523 31.5 53.5103 31.5V28.5C51.2955 28.5 49.5 30.2955 49.5 32.5103H52.5ZM52.5 91.4897V32.5103H49.5V91.4897H52.5ZM53.5103 92.5C52.9523 92.5 52.5 92.0477 52.5 91.4897H49.5C49.5 93.7045 51.2955 95.5 53.5103 95.5V92.5ZM86.4897 92.5H53.5103V95.5H86.4897V92.5ZM87.5 91.4897C87.5 92.0477 87.0477 92.5 86.4897 92.5V95.5C88.7045 95.5 90.5 93.7045 90.5 91.4897H87.5ZM87.5 32.5103V91.4897H90.5V32.5103H87.5ZM86.4897 31.5C87.0477 31.5 87.5 31.9523 87.5 32.5103H90.5C90.5 30.2955 88.7045 28.5 86.4897 28.5V31.5ZM53.5103 31.5H86.4897V28.5H53.5103V31.5Z"
                      fill="white" fill-opacity="0.1" mask="url(#path-4-inside-1_19_1484)"></path>
                  </mask>
                  <g mask="url(#mask1_19_1484)">
                    <path
                      d="M58.1136 78.6656C58.1136 79.8585 57.1465 80.8256 55.9536 80.8256H45.4992C44.3063 80.8256 43.3392 79.8585 43.3392 78.6656V71.84C43.3392 70.6471 42.3721 69.68 41.1792 69.68H17.16C15.9671 69.68 15 68.7129 15 67.52V57.8649C15 57.4557 15.1163 57.0549 15.3353 56.7091L37.9511 21.0042C38.3472 20.3789 39.0358 20 39.7759 20H55.9536C57.1465 20 58.1136 20.9671 58.1136 22.16V54.992C58.1136 56.1849 59.0807 57.152 60.2736 57.152H63.7296C64.9225 57.152 65.8896 58.1191 65.8896 59.312V67.52C65.8896 68.7129 64.9225 69.68 63.7296 69.68H60.2736C59.0807 69.68 58.1136 70.6471 58.1136 71.84V78.6656ZM31.6428 53.8277C30.7226 55.2654 31.7551 57.152 33.4621 57.152H41.1792C42.3721 57.152 43.3392 56.1849 43.3392 54.992V42.934C43.3392 40.776 40.5232 39.952 39.3599 41.7697L31.6428 53.8277Z"
                      fill="#02C2FD"></path>
                    <path
                      d="M57.3636 78.6656C57.3636 79.4443 56.7323 80.0756 55.9536 80.0756H45.4992C44.7205 80.0756 44.0892 79.4443 44.0892 78.6656V71.84C44.0892 70.2329 42.7863 68.93 41.1792 68.93H17.16C16.3813 68.93 15.75 68.2987 15.75 67.52V57.8649C15.75 57.5978 15.8259 57.3361 15.9688 57.1105L38.5847 21.4055C38.8433 20.9974 39.2927 20.75 39.7759 20.75H55.9536C56.7323 20.75 57.3636 21.3813 57.3636 22.16V54.992C57.3636 56.5992 58.6664 57.902 60.2736 57.902H63.7296C64.5083 57.902 65.1396 58.5333 65.1396 59.312V67.52C65.1396 68.2987 64.5083 68.93 63.7296 68.93H60.2736C58.6664 68.93 57.3636 70.2329 57.3636 71.84V78.6656ZM31.0111 53.4234C29.7715 55.3603 31.1625 57.902 33.4621 57.902H41.1792C42.7863 57.902 44.0892 56.5992 44.0892 54.992V42.934C44.0892 40.0267 40.2954 38.9166 38.7282 41.3654L31.0111 53.4234Z"
                      stroke="white" stroke-opacity="0.1" stroke-width="1.5"></path>
                  </g>
                  <rect x="51" y="30" width="38" height="64" rx="2.51027" fill="#01ABE6" fill-opacity="0.1"></rect>
                  <rect x="51.75" y="30.75" width="36.5" height="62.5" rx="1.76027" stroke="white" stroke-opacity="0.1"
                    stroke-width="1.5"></rect>
                  <defs>
                    <filter id="filter0_f_19_1737" x="10.2454" y="12" width="69.4475" height="80.072"
                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                      <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_19_1737"></feGaussianBlur>
                    </filter>
                  </defs>
                </svg>
              </div>
              <div class="b-block-internship-detail__steps__item__label">Интервью</div>
              <div class="b-block-internship-detail__steps__item__descr">Лучшим
                выпускникам назначим интервью и направим оффер от Т1!</div>
            </div>
          </div>
        </div>
        <h2 class="section__title">Что в программе интенсива</h2>
        <div class="section__text-wrap internship">
          <p class="section__descr">
            Мы проанализировали результаты 100+ интервью и выявили те навыки и знания, которых обычно не хватает кандидатам для
            получения оффера.
          </p>
          <ul>
            <li>Spring framework</li>
            <li>Docker</li>
            <li>Синхронное и асинхронное взаимодействие, брокеры сообщений</li>
            <li>Паттерны, SOLID</li>
          </ul>
        </div>
        <br>

        <h2 class="section__title">Что мы ждем от кандидатов</h2>
        <div class="section__text-wrap internship">
          <p class="section__descr">
            Чтобы учиться было интересно и эффективно, мы собираем равных по уровню и мотивации специалистов. Для входного
            тестирования понадобятся следующие знания и навыки:
          </p>
          <ul>
            <li>Опыт работы Java разработчиком от 1 года</li>
            <li>Алгоритмы, структура данных, паттерны</li>
            <li>Spring Core, Spring Boot, Spring Context, Spring Boot</li>
            <li>Java Core, ООП</li>
            <li>Опыт тестирования ПО, написания юнит тестов</li>
            <li>Контроль версии</li>
            <li>Сетевое взаимодействие</li>
            <li>Микросервисная архитектура</li>
            <li>Проектирование БД, Работа с ORM</li>
            <li>Брокеры сообщений, Интеграция систем</li>
            <li>Отказоустойчивость, производительность, вертикальное масштабирование</li>
            <li>Основы информационной безопасности</li>
            <li>Контейнеризация, виртуализация, CI/CD</li>
            <li>Linux</li>
            <li>Observability</li>
          </ul>
          <span class="section__tip">*По версии CNews Analytics 2022, TAdviser 2021 и RAEX 2023.</span>
        </div>
        <br>
      </div>

      <div class="b-block-internship-detail">
        <div class="b-block-internship-detail__soc-media">
          <div class="b-block-internship-detail__soc-media__links">
            <a href="https://vk.com/share.php?url=https://t1.ru/internship/item/otkrytye-shkoly-ot-holdinga-t1/"
              class="b-block-internship-detail__soc-media__link js-share-link"
              data-mask="https://vk.com/share.php?url=">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="#00AAE6"></circle>
                <path
                  d="M22.6498 28.8449C15.8014 28.8449 11.8952 24.0735 11.7324 16.1338H15.1629C15.2756 21.9613 17.8046 24.4297 19.8077 24.9387V16.1338H23.038V21.1597C25.0161 20.9434 27.0942 18.6531 27.7953 16.1338H31.0255C30.4872 19.2384 28.2336 21.5287 26.631 22.4702C28.2336 23.2337 30.8003 25.2313 31.7769 28.8449H28.2211C27.4574 26.4274 25.5545 24.557 23.038 24.3025V28.8449H22.6498Z"
                  fill="white"></path>
              </svg>

            </a>
            <a href="https://telegram.me/share/url?url=https://t1.ru/internship/item/otkrytye-shkoly-ot-holdinga-t1/"
              class="b-block-internship-detail__soc-media__link js-share-link"
              data-mask="https://telegram.me/share/url?url=">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="#00AAE6"></circle>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.3189 21.8325C17.9425 19.8181 21.0257 18.49 22.5683 17.8484C26.9729 16.0164 27.8882 15.6981 28.4847 15.6876C28.6159 15.6853 28.9093 15.7178 29.0993 15.872C29.2598 16.0022 29.3039 16.1781 29.3251 16.3015C29.3462 16.425 29.3725 16.7062 29.3516 16.9259C29.1129 19.4338 28.0801 25.5199 27.5547 28.3288C27.3323 29.5173 26.8946 29.9158 26.4707 29.9548C25.5497 30.0396 24.8503 29.3462 23.9582 28.7614C22.5623 27.8463 21.7737 27.2767 20.4187 26.3838C18.8528 25.3519 19.8679 24.7847 20.7603 23.8578C20.9939 23.6152 25.052 19.924 25.1306 19.5892C25.1404 19.5473 25.1495 19.3912 25.0568 19.3088C24.964 19.2263 24.8271 19.2545 24.7284 19.277C24.5884 19.3087 22.3584 20.7827 18.0383 23.6988C17.4054 24.1335 16.832 24.3452 16.3183 24.3342C15.752 24.3219 14.6627 24.014 13.8529 23.7507C12.8596 23.4278 12.0702 23.2571 12.1389 22.7088C12.1747 22.4232 12.568 22.1311 13.3189 21.8325Z"
                  fill="white"></path>
              </svg>

            </a>
            <div class="b-block-internship-detail__soc-media__link js-clipboard-link">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="#00AAE6"></circle>
                <path
                  d="M22.7583 27.3828L21.4935 28.6476C19.8883 30.2528 17.2857 30.2528 15.6805 28.6476V28.6476C14.0753 27.0424 14.0753 24.4398 15.6805 22.8345L17.3294 21.1857C18.1048 20.4102 19.1565 19.9746 20.2531 19.9746C21.3497 19.9746 22.4014 20.4102 23.1769 21.1857"
                  stroke="white" stroke-width="1.95556" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M21.0806 17.4355L22.3454 16.1707C23.9507 14.5655 26.5532 14.5655 28.1585 16.1707V16.1707C29.7637 17.776 29.7637 20.3785 28.1585 21.9838L26.5096 23.6327C24.8949 25.2474 22.2768 25.2474 20.6621 23.6327"
                  stroke="white" stroke-width="1.95556" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>

              Копировать ссылку
            </div>
          </div>
        </div>
        <div class="b-block-career-form b-block-career-form-new b-block-internship-form" id="form">
          <div class="b-block-career-form__wrap js-b-form" data-c-inited="">
            <div class="b-block-career-form-new__title-wrap">

              <div class="b-block-career-form-new__title">Подать заявку</div>
              <div class="b-block-career-form-new__subtitle">Здесь вы можете оставить заявку на
                ближайший поток.<br><br>
                В&nbsp;апрельские школы мы&nbsp;принимаем заявки до&nbsp;22.04. Если мест не&nbsp;хватит,
                то&nbsp;предложим присоединиться к&nbsp;следующему потоку в&nbsp;конце мая.</div>
            </div>
            <form action="/local/templates/t1-new/ajax/open_callback.php"
              class="b-block-career-form__form b-career-form form js-b-form__form js-form-validate">
              <div class="b-block-career-form__inputs-wrap js-b-form-inputs active">
                <div class="b-career-form__row">
                  <label class="b-career-form__field js-b-input" data-c-inited="">
                    <span class="b-career-form__field__label">Имя Фамилия<span class="required">*</span></span>
                    <input type="text" name="name" id="" class="b-career-form__field__input js-b-input__field"
                      data-max-length="60" data-cyrlat-name="" data-required="">
                    <span class="alert-input-text"></span>
                  </label>
                  <label class="b-career-form__field js-b-input" data-c-inited="">
                    <span class="b-career-form__field__label">Email<span class="required">*</span></span>
                    <input type="email" name="email" id="" class="b-career-form__field__input js-b-input__field"
                      data-required="" data-email="">
                    <span class="alert-input-text"></span>
                  </label>
                </div>

                <div class="b-career-form__row">
                  <label class="b-career-form__field js-b-input" data-c-inited="">
                    <span class="b-career-form__field__label">Телефон<span class="required">*</span></span>
                    <input type="tel" name="tel" id=""
                      class="b-career-form__field__input js-b-input__field js-phone-mask" data-required=""
                      data-tel-length="11">
                    <span class="alert-input-text"></span>
                  </label>
                  <label class="b-career-form__field js-nice-select-wrap js-city-select">
                    <span class="b-career-form__field__label">Город<span class="required">*</span></span>
                    <select name="city" id="" class="nice-select js-b-input__field js-nice-select" data-required="">
                      <option selected="" disabled="" value=""></option>
                      <option value="Москва">Москва</option>
                      <option value="Санкт-Петербург">Санкт-Петербург</option>
                      <option value="Астрахань">Астрахань</option>
                      <option value="Барнаул">Барнаул</option>
                      <option value="Владивосток">Владивосток</option>
                      <option value="Волгоград">Волгоград</option>
                      <option value="Воронеж">Воронеж</option>
                      <option value="Екатеринбург">Екатеринбург</option>
                      <option value="Ижевск">Ижевск</option>
                      <option value="Иннополис">Иннополис</option>
                      <option value="Иркутск">Иркутск</option>
                      <option value="Казань">Казань</option>
                      <option value="Краснодар">Краснодар</option>
                      <option value="Красноярск">Красноярск</option>
                      <option value="Нижний Новгород">Нижний Новгород</option>
                      <option value="Новосибирск">Новосибирск</option>
                      <option value="Омск">Омск</option>
                      <option value="Пермь">Пермь</option>
                      <option value="Ростов-на-Дону">Ростов-на-Дону</option>
                      <option value="Рязань">Рязань</option>
                      <option value="Самара">Самара</option>
                      <option value="Саратов">Саратов</option>
                      <option value="Тверь">Тверь</option>
                      <option value="Тольятти">Тольятти</option>
                      <option value="Томск">Томск</option>
                      <option value="Тюмень">Тюмень</option>
                      <option value="Ульяновск">Ульяновск</option>
                      <option value="Уфа">Уфа</option>
                      <option value="Хабаровск">Хабаровск</option>
                      <option value="Челябинск">Челябинск</option>
                      <option value="Другой">Другой</option>
                    </select>
                    <span class="alert-input-text"></span>
                  </label>
                </div>
                <div class="b-career-form__row search-select__other js-city-other">
                  <label class="b-career-form__field js-b-input" data-c-inited="">
                    <span class="b-career-form__field__label">Напиши свой вариант<span class="required">*</span></span>
                    <input type="text" name="city-other" id="" class="b-career-form__field__input js-b-input__field"
                      data-required-hidden>
                    <span class="alert-input-text"></span>
                  </label>
                </div>
                <div class="b-career-form__row">
                  <label class="b-career-form__field js-nice-select-wrap">
                    <span class="b-career-form__field__label">Какая роль вам интересна?</span>
                    <select name="role" id="" class="nice-select js-b-input__field js-nice-select"
                      style="opacity: 0; width: 0px; padding: 0px; height: 0px;">
                      <option selected="" disabled="" value=""></option>
                      <option value="Разработчик на Java">Разработчик на Java</option>
                      <option value="Системный аналитик">Системный аналитик</option>
                      <option value="Ручной тестировщик">Ручной тестировщик</option>
                    </select>
                    <span class="alert-input-text"></span>
                  </label>
                </div>
                <div class="b-career-form__row">
                  <label class="b-career-form__field js-nice-select-wrap">
                    <span class="b-career-form__field__label">Опыт работы в направлении?</span>
                    <select name="experience" id="" class="nice-select js-b-input__field js-nice-select"
                      style="opacity: 0; width: 0px; padding: 0px; height: 0px;">
                      <option selected="" disabled="" value=""></option>
                      <option value="1-2 года">1-2 года</option>
                      <option value="Более 3 лет">Более 3 лет</option>
                      <option value="Нет опыта">Нет опыта</option>
                    </select>
                    <span class="alert-input-text"></span>
                  </label>

                </div>

                <div class="b-career-form__row">
                  <label class="b-career-form__field js-b-input" data-c-inited="">
                    <span class="b-career-form__field__label">Комментарий</span>
                    <textarea type="text" name="comment" id="" class="b-career-form__field__input js-b-input__field"
                      data-max-length="200"></textarea>
                    <span class="alert-input-text"></span>
                  </label>
                </div>
                <input class="js-url-query" type="hidden" name="url_query" value="">
                <div class="b-file js-c-file" data-c-inited="">

                  <label class="js-input-file b-file__input-wrap js-c-file-label">
                    <div class="b-file__label btn-transparent">
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Left Icon">
                          <g id="Vector">
                            <path
                              d="M8.28083 11.8114L11.6939 7.69411H8.97417V2.20593H7.58813V7.69411H4.84139L8.28083 11.8114Z"
                              fill="white"></path>
                            <path
                              d="M2.10547 10.7816H3.48061V13.1881H13.0854V10.7816H14.4542V14.5543H8.27984H2.10547V10.7816Z"
                              fill="white"></path>
                          </g>
                        </g>
                      </svg>

                      Загрузить резюме
                    </div>
                    <input name="file[]" type="file" class="b-file__input js-b-input__field js-c-input__file"
                      data-required="" data-max-count="5" data-size="10" data-accept="pdf, jpg, png, doc, txt"
                      accept="pdf, jpg, png, doc,txt" data-name="files[]" multiple="">
                    <span class="alert-input-text"></span>
                    <div class="b-file__prompt">Не больше 5 файлов в формате PDF, JPG, PNG, DOC
                  </label>
                  </div>
                  <ul class="b-file__file-list js-c-file-list">
                  </ul>

                </div>

                <label class="b-career-form__checkbox">
                  <input type="checkbox" name="personal-data" id=""
                    class="b-career-form__checkbox__input js-b-input__field" data-required="">
                  <span class="b-career-form__checkbox__holder"></span>
                  <span class="b-career-form__checkbox__label">Даю&nbsp;согласие на&nbsp;<a
                      href="https://t1.ru/documents/personal_data_politics/" target="_blank"
                      class="b-career-form__checkbox__link">обработку персональных
                      данных</a></span>
                  <span class="alert-input-text"></span>
                </label>
                <label class="b-career-form__checkbox">
                  <input type="checkbox" name="advent" id="" class="b-career-form__checkbox__input">
                  <span class="b-career-form__checkbox__holder"></span>
                  <span class="b-career-form__checkbox__label">Я согласен на <a
                      href="https://t1.ru/documents/SOPD_personal_data_ad.pdf" target="_blank"
                      class="b-career-form__checkbox__link">получение
                      рекламы</a></span>
                  <span class="alert-input-text"></span>
                </label>

                <input type="button" onclick="ym(76188397,'reachGoal','otkrytye-shkoly')"
                  class="b-career-form__btn btn-white js-b-form-submit" value="Отправить резюме">

              </div>
              <div class="b-block-career-form__response-success js-b-form-success">
                <img src="/local/templates/t1-new/assets/img/form/success-img.png" alt="image">
                <span class="b-block-career-form__response-msg">Спасибо! Заявка принята.</span>
                <span class="b-block-career-form__response-msg">Письма будут приходить на указанный в заявке
                  email.</span>
                <span class="b-block-career-form__response-msg">Вопросы об Открытых школах Т1 направляй на <a
                    href="mailto:openschool@t1.ru">openschool@t1.ru</a></span>
              </div>
              <div class="b-block-career-form__response-error js-b-form-error">
                <img src="/local/templates/t1-new/assets/img/form/back.png" alt="image">
                <span class="b-block-career-form__response-msg">Не удалось отправить форму.</span>
                <div class="b-block-career-form__back js-b-form-back">Попробовать еще раз</div>
              </div>
              <div class="b-block-career-form__loader js-b-form-loader">
                <img src="/local/templates/t1-new/assets/img/form/loader.png" alt="image">
              </div>
              <input name="csrftoken"
                value="17c6ff91bde00f4150518da97fc635a317b1a8aeb25555533bb44058bfe3ea692e28fb433e094ba3" type="hidden">
            </form>
          </div>
        </div>
        <div class="b-block-accordion-new" style="padding-top: 48px">
          {{> shared/section__title title="Часто задаваемые вопросы"}}

          <div class="b-block-accordion-new__wrap">
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Я подал(а) заявку. Какие дальнейшие действия?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Мы ответим всем в течение недели после окончания приема заявок. Если ваш профиль подошел,
                    расскажем&nbsp;о входном тестировании и дальнейших шагах. Если нам не хватило информации или опыта
                    - уточним или поделимся возможностями развития в Т1 в рамках других программ, например, <a
                      href="/internship/">стажировок</a>.
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Сколько длится Открытая школа?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    4-6 недель
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Все этапы обучения проходят удаленно?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Да, удаленно. Мы предоставляем гибкий график, который не затронет основную деятельность.
                  </p>
                </div>
              </div>
            </div>

            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Только из РФ?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    У&nbsp;нас много масштабных и&nbsp;важных проектов, поэтому участие в&nbsp;интенсиве и&nbsp;работа
                    в&nbsp;Т1&nbsp;возможна только с&nbsp;территории России. Все юридические лица Холдинга
                    Т1&nbsp;имеют ИТ-аккредитацию и&nbsp;внесены в&nbsp;реестр Минцифры.
                  </p>
                </div>
              </div>
            </div>

            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Что включает программа обучения и&nbsp;что даст ее&nbsp;прохождение?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Программы собраны на&nbsp;базе тех навыков, которых чаще всего не&nbsp;хватает кандидатам при
                    собеседовании. Таких скилов немного, у&nbsp;каждой роли они свои. Их&nbsp;освоение практически
                    гарантирует успешное прохождение собеседования в&nbsp;Т1.
                    <br><br>
                    Интенсив выстроен как «дообучение» специалистов, имеющих опыт в&nbsp;профессии, и&nbsp;направлен
                    на&nbsp;найм лучших в&nbsp;нашу команду, а&nbsp;не&nbsp;обучение с&nbsp;нуля или выдачу
                    сертификата.
                  </p>
                </div>
              </div>
            </div>


            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  А сколько времени нужно выделить? Можно совмещать с работой?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Достаточно выделить 4 часа в неделю на вебинары и еще 4 часа на самостоятельную практику. Вебинары
                    проходят по вечерам по московскому времени.
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Вы платите зарплату?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Участие в Открытых школах бесплатное, на время прохождения не предусмотрено заключение договора и
                    выплата зарплаты от Т1. Лучшие выпускники, которые пройдут собеседование, попадут в команды по
                    трудовому договору.
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Меня возьмут на работу после Открытой школы?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Лучшие выпускники после собеседования смогут присоединиться к команде Т1 на основании трудового
                    договора.
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Я получу сертификат об окончании, если откажусь от трудоустройства?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Нет. Цель Открытых школ не сертификат, а трудоустройство. В группы интенсивов попадут лишь те, кто
                    стремится присоединиться к команде Т1.
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Могу ли я выбрать команду при переходе в&nbsp;штат?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Да, лучшие выпускники будут общаться с разными командами, которые ищут специалистов по
                    направлениям Открытых школ.
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  Нужно&nbsp;ли иметь профильное образование или&nbsp;главное&nbsp;— мои навыки?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Важны навыки и опыт работы. В рамках Открытых школ мы не обучаем с нуля и рассматриваем
                    ИТ-специалистов с опытом работы на <strong>аналогичной позиции</strong> от года, чтобы дообучить
                    их при поддержке наших экспертов.<br><br>Тех, кому не хватает опыта, мы приглашаем на стажировку,
                    старт программы запланирован на второй квартал 2024 года. Заявку на стажерские программы можно
                    оставить в разделе Начало карьеры, вопросы направляйте на почту <a
                      href="mailto:future@t1.ru">future@t1.ru</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="accord js-accord b-block-accordion-new__accord collapse accord-inited">
              <div class="accord__head js-accord-trigger b-block-accordion-new__trigger">
                <div class="b-block-accordion-new__trigger__text">
                  В какие команды Т1 ведется набор через Открытые школы?
                </div>
                <div class="b-block-accordion-new__trigger__cross accord__cross"></div>
              </div>
              <div class="accord__body js-accord-body ">
                <div class="b-block-accordion-new__body">
                  <p class="b-block-accordion-new__descr">
                    Команд и вариантов действительно много! Узнать больше о направлениях деятельности Т1 можно на <a
                      href="/career/">карьерной странице</a> сайта, а также в разделе про <a
                      href="/products/">ИТ-продукты</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/layouts/main}}