{{#> layouts/main title='Прошедшие события' }}
<div class="past-events-new" bis_skin_checked="1">
  <div class="b-block-internship" bis_skin_checked="1">
    <div class="b-block-internship__items" bis_skin_checked="1">
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link" href="/internship/item/techmeetup-3-frontend/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-image" bis_skin_checked="1">
          <img class="b-block-internship__item-img" src="/upload/iblock/f03/unpqjltmufc0aghtywwsk217hj1j9q8m.png"
            alt="TechMeetup #3 Frontend">
        </div>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            TechMeetup #3 Frontend
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            28 марта 2024
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link" href="/internship/item/t1-analyst-meetup-1/" bis_skin_checked="1"></a>
        <div class="b-block-internship__item-image" bis_skin_checked="1">
          <img class="b-block-internship__item-img" src="/upload/iblock/962/72naij7xlu5ck0jh48y668kxncg0oo6l.png"
            alt="T1 Analyst meetup #1">
        </div>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            T1 Analyst meetup #1
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            15 февраля 2024
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link"
          href="/internship/item/coderetreat-x-t1-kod-retrit-t1-moskovskiy-klub-programmistov/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-image" bis_skin_checked="1">
          <img class="b-block-internship__item-img" src="/upload/iblock/79a/1q2it1m8itmst3vtyj21311m7ks7x9mc.png"
            alt="CODERETREAT x T1. Код-ретрит Т1 + Московский клуб программистов">
        </div>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            CODERETREAT x T1. Код-ретрит Т1 + Московский клуб программистов
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            11 ноября 2023
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link" href="/internship/item/stazhirovka-v-gruppe-t1/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-image" bis_skin_checked="1">
          <img class="b-block-internship__item-img" src="/upload/iblock/b73/u200ub1j1vub89qw0i29oe6esx69urb4.png"
            alt="Стажировка в Группе Т1">
        </div>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            Стажировка в Группе Т1
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            30 января 2023
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link" href="/internship/item/stazherskaya-shkola-dlya-sistemnykh-analitikov/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            Стажерская школа для системных аналитиков
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            1 марта 2022
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link" href="/internship/item/otkrytaya-shkola-dlya-data-engineer-hadoop/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            Открытая школа для Data Engineer (Hadoop)
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            6 декабря 2021
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link"
          href="/internship/item/otkrytaya-shkola-dlya-data-engineer-spark-hadoop-airflow/" bis_skin_checked="1"></a>
        <div class="b-block-internship__item-image" bis_skin_checked="1">
          <img class="b-block-internship__item-img" src="/upload/iblock/d3a/n7rctbkuu4eo3trczw436klwyn35pc62.png"
            alt="Открытая школа для Data Engineer (Spark, Hadoop, AirFlow)">
        </div>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            Открытая школа для Data Engineer (Spark, Hadoop, AirFlow)
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            15 ноября 2021
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link" href="/internship/item/otkrytaya-shkola-dlya-data-scientist-ml/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            Открытая школа для Data Scientist (ML)
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            9 ноября 2021
          </div>
        </div>
      </div>
      <div class="b-block-internship__item filter-target " bis_skin_checked="1">
        <a class="b-block-internship__item-link"
          href="/internship/item/otkrytaya-shkola-dlya-java-razrabotchika-mnogopotochnost-reaktivnoe-programmirovanie-rxjava-webflux/"
          bis_skin_checked="1"></a>
        <div class="b-block-internship__item-image" bis_skin_checked="1">
          <img class="b-block-internship__item-img" src="/upload/iblock/973/n3vwhf4w2nj94qo1tem3rogx57u0k9ox.png"
            alt="Открытая школа для Java разработчика (Многопоточность, Реактивное программирование, RxJava, WebFlux)">
        </div>
        <div class="b-block-internship__item-description" bis_skin_checked="1">
          <div class="b-block-internship__item-title" bis_skin_checked="1">
            Открытая школа для Java разработчика (Многопоточность, Реактивное программирование, RxJava, WebFlux)
          </div>
          <div class="b-block-internship__item-date" bis_skin_checked="1">
            12 октября 2021
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/layouts/main}}