<div class="block-silaron-banner">
  <div class="block-silaron-banner__wrap">
    <div class="block-silaron-banner__content">
      <div class="block-silaron-banner__logo">
        {{{getSvg src="silaron/silaron-logo"}}}
      </div>
      <div class="block-silaron-banner__title">Российская АСУ ТП для промышленных предприятий</div>
      <div class="block-silaron-banner__subtitle">ПАК «СИЛАРОН»</div>
      <a href="#form" class="block-silaron-banner__btn btn-blue">Запросить демо</a>
      <div class="block-silaron-banner__descr">Ключевые отрасли: электроэнергетика, нефтепереработка, металлургия, горнодобывающая, химическая, фармацевтическая и пищевая промышленность</div>
    </div>
    <div class="block-silaron-banner__video">
      <div class="block-silaron-banner__video-wrap">
        <video class="video-desk" style="width: 100%;" src="/assets/video/silaron_desk.mp4" type="video/mp4" autoplay
          muted loop playsinline></video>
        <video class="video-tab" style="width: 100%;" src="/assets/video/silaron_tab.mp4" type="video/mp4" autoplay
          muted loop playsinline></video>
        <video class="video-mob" style="width: 100%;" src="/assets/video/silaron_mob.mp4" type="video/mp4" autoplay
          muted loop playsinline></video>
      </div>
    </div>
    <div class="block-silaron-banner__bg">
      {{{getImg src="silaron/silaron-bg.png"}}}
    </div>
  </div>
</div>