<div class="b-block-coworking">
    <div class="b-block-coworking__wrap">
        {{#each list}}
            <a href="" class="b-block-coworking__item">{{label}}</a>
        {{/each}}
    </div>
</div>