<div class="b-block-internship-detail">
  <div class="b-block-internship-detail__soc-media">
    <div class="b-block-internship-detail__soc-media__info">
      <div class="b-block-internship-detail__soc-media__info__label">Дата</div>
      <div class="b-block-internship-detail__soc-media__info__value">20 июня 2023</div>
    </div>
    <div class="b-block-internship-detail__soc-media__links">
      <a href="" class="b-block-internship-detail__soc-media__link js-share-link" data-mask="https://vk.com/share.php?url=">
        {{{getSvg src="vk-internship"}}}
      </a>
      <a href="" class="b-block-internship-detail__soc-media__link js-share-link" data-mask="https://telegram.me/share/url?url=">
        {{{getSvg src="tg-internship"}}}
      </a>
      <div class="b-block-internship-detail__soc-media__link js-clipboard-link">
        {{{getSvg src="link-internship"}}}
        Копировать ссылку
      </div>
    </div>
  </div>
</div>