<div class="b-block-openschools-list">
  {{#each list}}
    <a href="{{{href}}}" class="b-block-openschools-list__item{{#if disabled}} disabled{{/if}}">
      <div class="b-block-openschools-list__item__img">
        {{{ getImg src=img}}}
      </div>
      <div class="b-block-openschools-list__item__label">{{ label }}</div>
    </a>
  {{/each}}
</div>