<div class="b-block-banner js-banner-video">
  <div class="b-block-banner__wrap">
    <div class="b-block-banner__bg">
      <div class="video-wrap">
        <video class="video-desk" style="width: 100%;"
          src="/assets/video/banner-holiday__desk.mp4" type="video/mp4" autoplay muted loop
          playsinline></video>
        <video class="video-tab" style="width: 100%;"
          src="/assets/video/banner-holiday__tab.mp4" type="video/mp4" autoplay muted loop
          playsinline></video>
        <video class="video-mob" style="width: 100%;"
          src="/assets/video/banner-holiday__mob.mp4" type="video/mp4" autoplay muted loop
          playsinline></video>
      </div>
    </div>
  </div>
</div>