<div class="b-block-feedback">
    <div class="b-block-feedback__wrap">
        <div class="b-block-feedback__text-wrap">
            <div class="b-block-feedback__title">Задайте свой вопрос</div>
            <div class="b-block-feedback__descr">Если остались вопросы, пишите нам на почту</div>
        </div>
        <a href="mailto:{{mail}}" class="btn-blue">Задать вопрос</a>
    </div>
</div>