<div class="block-computing-systems-presentation">
  <div class="block-computing-systems-presentation__label">Подробнее</div>
  <div class="block-computing-systems-presentation__btn btn-white">Скачать презентацию</div>
</div>