<div class="block-digital-transformation-banner">
  <div class="block-digital-transformation-banner__wrap">

    <div class="block-digital-transformation-banner__img">
      {{{getImg src="block-digital-transformation/banner-img.png"}}}
    </div>
    <div class="block-digital-transformation-banner__content">
      <div class="block-digital-transformation-banner__title">Цифровая трансформация клиента</div>
      <a href="/assets/docs/Т1_Дивизион_внедрения_и_консалтинга.pptx" download="" class="block-digital-transformation-banner__btn btn-white">
        {{{getSvg src="icons/download-blue"}}}
        Скачать презентацию
      </a>
    </div>
  </div>
</div>