<div class="block-computing-systems-hero">
  <div class="block-computing-systems-hero__content">
    <div class="block-computing-systems-hero__content__text">
      <h1 class="block-computing-systems-hero__title">Вычислительные комплексы</h1>
      <div class="block-computing-systems-hero__subtitle">Широкий спектр услуг для создания и модернизации ИТ-инфраструктуры</div>
      <a href="#form" class="block-computing-systems-hero__btn btn-blue">Получить консультацию</a>
    </div>

    <div class="block-computing-systems-hero__img">
      {{{getImg src="computing-systems-slider/hero.png"}}}
    </div>
  </div>
  <div class="block-computing-systems-hero__descr">
    Специалисты Центра компетенций обладают глубокой экспертизой по продуктам российских и международных вендоров.
    Многолетний опыт миграции с зарубежных ИТ-решений позволяет реализовывать проекты по импортозамещению любого масштаба. В
    таких проектах решается широкий спектр задач, включая разработку стратегии, тестирование выбранных решений, поставку
    отечественного оборудования и ПО.
  </div>
</div>