<div class="b-block-intern">
    <h3 class="b-block-intern__title">Стажёр Т1</h3>
    <ul class="b-block-intern__list">
	    <li class="b-block-intern__item">Не боится делать то, чего еще никто не делал</li>
	    <li class="b-block-intern__item">Мыслит стратегически</li>
	    <li class="b-block-intern__item">Доверяет команде</li>
	    <li class="b-block-intern__item">Живёт современными технологиями</li>
	    <li class="b-block-intern__item">Увлечён и вовлечен</li>
	    <li class="b-block-intern__item">Действует ответственно</li>
    </ul>
</div>