<div class="b-block-schedule">
  <div class="b-block-schedule__wrap">
      {{#each list}}
          <div class="b-block-schedule__wrap__item__date">{{date}}</div>
          <div class="b-block-schedule__wrap__item__event">{{event}}</div>
      {{/each}}
  </div>
</div>