<div class="block-icons-slider{{#if classNames}} {{classNames}}{{/if}}">
    {{> shared/section__title}}
    <div class="block-icons-slider__wrap">
      {{#> components/swiper class="js-block-icons-slider" pagination=true}}
        {{#each list }}
            {{#> components/swiper__slide }}
            <div class="block-icons-slider__item">
                <div class="block-icons-slider__item__img">{{{getSvg src=img}}}</div>
                <div class="block-icons-slider__item__label">{{label}}</div>
                <div class="block-icons-slider__item__descr">{{{descr}}}</div>
            </div>
            {{/components/swiper__slide}}
        {{/each}}
      {{/components/swiper}}
    </div>
</div>