<div class="block-silaron-stats">
    {{#with this.store.silaronText}}
    {{> shared/section__title}}
    {{/with}}
  <div class="block-silaron-stats__title">Слагаемые успеха «СИЛАРОН»</div>
  <div class="block-silaron-stats__wrap">
    <div class="block-silaron-stats__item">
      <div class="block-silaron-stats__item__title">40+ лет на рынке</div>
      <div class="block-silaron-stats__item__descr">Основа разработки: российский продукт с историей  </div>
    </div>
    <div class="block-silaron-stats__item">
      <div class="block-silaron-stats__item__title">20+ лет – средний стаж</div>
      <div class="block-silaron-stats__item__descr">Инженеры с опытом работы ведущих мировых производителях</div>
    </div>
    <div class="block-silaron-stats__item">
      <div class="block-silaron-stats__item__title">Cделано в лаборатории дизайна Т1</div>
      <div class="block-silaron-stats__item__descr">Продуманный дизайн конструктива. Удобный и понятный интерфейс.</div>
    </div>
  </div>
</div>