<div class="b-block-internship-hero">
    <div class="b-block-internship-hero__wrap">
        <div class="b-block-internship-hero__info">
            <div class="b-block-internship-hero__descr">
                Добро пожаловать в команду цифровой трансформации. Обменивайся опытом и впечатлениями в команде из тысяч коллег с самым разным опытом!
            </div>
            <a href="#form" class="b-block-internship-hero__btn btn-blue">Хочу к вам на стажировку</a>
        </div>
        <div class="b-block-internship-hero__img">
            {{{getImg src="internship/internship-hero.png"}}}
        </div>
    </div>
</div>