<div class="b-block-alumni-content">
  <div class="b-block-alumni-content__wrap">
    <div class="b-block-alumni-content__img-wrap">
      {{{getImg src="alumni/alumni__page.png"}}}
    </div>
    <div class="b-block-alumni-content__text-wrap">
      <div class="b-block-alumni-content__text-block">
        <p class="b-block-alumni-content__text">
          Холдинг Т1 – это прежде всего люди, команда профессионалов с уникальным ДНК, объединённых одной идеей. Мы создаем
          технологии и внедряем инновации, мыслим масштабно и всегда готовы прийти на помощь.
        </p>
        <p class="b-block-alumni-content__text">
          Даже покинув компанию, ты можешь продолжить общаться с коллегами и тем самым укреплять сообщество профессионалов,
          которые не боятся смелых вызовов в сфере ИТ.
        </p>
      </div>
      <p class="b-block-alumni-content__text">
        <strong>
          Клуб Т1 Alumni — это прекрасная возможность сохранить воспоминания о работе в компании и остаться в кругу
          единомышленников, а также:
        </strong>
      </p>
      <ul class="b-block-alumni-content__list">
        <li class="b-block-alumni-content__list-item">быть в курсе последних новостей о Холдинге Т1, наших продуктах, проектах и получать приглашения на внешние события</li>
        <li class="b-block-alumni-content__list-item">обмениваться опытом и расширять профессиональный круг общения</li>
        <li class="b-block-alumni-content__list-item">участвовать в мероприятиях сообщества</li>
        <li class="b-block-alumni-content__list-item">найти экспертизу и поддержку для создания и развития проектов, а также привлечения инвестиций</li>
        <li class="b-block-alumni-content__list-item">принимать участие в развитии масштабных проектов Холдинга</li>
      </ul>
      <p class="b-block-alumni-content__text">
        <strong>Как стать членом клуба?</strong>
      </p>
      <p class="b-block-alumni-content__text">
        Направь заявку и получи приглашение в закрытый телеграм-канал.Каждая заявка проходит модерацию.
      </p>
      <p class="b-block-alumni-content__text">
        Оставайся с Т1 и делитесь своими успехами и идеями!
      </p>
    </div>
  </div>
</div>