@mixin animation(
    $name,
    $duration: 0.3s,
    $func: ease-in-out,
    $iteration: 1,
    $delay: null,
    $fill: null
) {
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-timing-function: $func;
    animation-fill-mode: $fill;

    @if $delay != null {
        animation-delay: $delay;
    }
}
