@mixin transition($prop, $duration: 0.15s, $func: ease-in-out, $delay: null) {
    transition-property: $prop;
    transition-duration: $duration;
    transition-timing-function: $func;

    @if $prop != all {
        will-change: $prop;
    }

    @if $delay != null {
        transition-delay: $delay;
    }
}
