<!DOCTYPE html>
<html lang="ru" data-scroll-detection="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=0">


  <title>{{title}}</title>

</head>


<body>
  <main class="main">
    {{> @partial-block }}
  </main>


</body>

</html>