$max_xs: 479.9px;
$min_xs: 480px;

$max_s: 575.9px;
$min_s: 576px;

$max_sm: 767.9px;
$min_sm: 768px;

// $max_md: 991.9px;
// $min_md: 992px;

$max_md: 1023.9px;
$min_md: 1024px;

$max_lg: 1199.9px;
$min_lg: 1200px;

$max_xl: 1439.9px;
$min_xl: 1440px;

$adapt: 1440px;

$max_xxl: 1919.9px;
$min_xxl: 1920px;
