<div class="accord js-accord {{#if classNameAccord}}{{classNameAccord}}{{/if}} {{#if isOpen}} active{{/if}}"
     {{#if syncGroup}}
     data-sync-group="{{syncGroup}}"
     {{/if}}>
    {{> @partial-block }}
</div>