$block-name: "b-block-career-items";

.#{$block-name} {
    padding: 24px 0 48px;

    margin-bottom: 0 !important;

    a {
        text-decoration: unset !important;
    }

    @include media-max-s() {
        padding: 0 0 48px;

    }


    &__wrap {
        @include flex($gap: 24px 16px);
        @include flex-wrap();
    }

    &__item {
        $gap: 16px;
        $count: 3;

        @include size(100%);
        @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

        @include flex(column);

        @include hover () {

            .b-block-career-items__item__img {
                opacity: 0.88;
            }

            .b-block-career-items__item__label {
                @include color($blue)
            }
        }

        @include media-max-md() {
            $gap: 16px;
            $count: 2;

            @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

        }


        @include media-max-s() {
            @include max-size(100%);
        }

        &.disabled {
            pointer-events: none;
        }

        &__tags-wrap {
            @include position(absolute, $bottom: 16px, $left: 16px);
            @include flex($gap: 4px);
            @include media-max-md() {
                @include position(absolute, $bottom: 12px, $left: 12px);
            }
        }

        &__tag {
            @include bg-color(#fff, 0.5);
            @include flex(row, space-between, center, 4px);
            @include font-size(12px, 16px, 500);
            @include color(#000);

            letter-spacing: -0.03em;
            padding: 4px 12px;
            border-radius: 30px;
        }

        &__img {
            @include position(relative);
            @include image-wrap(100%, null, contain);
            @include max-size(100%);
            @include transition(opacity);

            overflow: hidden;

            border-radius: 16px;
            margin-bottom: 16px;

            @include media-max-md() {
                border-radius: 8px
            }

            @include media-max-s() {
                margin-bottom: 8px;
            }
        }

        &__label,
        &__descr {
            @include font-size(20px, 1.4, 500);
            letter-spacing: -0.6px;

            @include media-max-s() {
                @include font-size(16px, 1.37, 500);
                letter-spacing: -0.48px;

            }
        }

        &__label {
            @include transition(color);
            @include color(#000);
        }

        &__descr {
            @include color($gray);
        }
    }

    &--grid-4 {
        .b-block-career-items__item {
            $gap: 16px;
            $count: 4;

            @include size(100%);
            @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

            @include media-max-md() {
                $gap: 16px;
                $count: 2;

                @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

            }

            @include media-max-s() {
                @include max-size(calc(100%));

            }
        }
    }
}