$block-name: "b-block-img-slider";

.#{$block-name} {
  margin-bottom: 0 !important;

  .swiper {
    .swiper-pagination-bullet {
      border: unset !important;
      background-color: #000;
      opacity: 0.2;
    }
    .swiper-pagination-bullet-active {
      border: unset !important;
      background-color: #000;
      opacity: 1;
    }
    .custom-pagination {
      @include position(absolute);

      z-index: 1;
    }
  }

  a {
    text-decoration: unset !important;
  }

  padding-bottom: 48px;

  &__item {
    @include size(100%);

    &__img {
      @include image-wrap(100%, 100%);

      overflow: hidden;
      border-radius: 16px;

      margin-bottom: 12px;

      @include media-max-md() {
        border-radius: 8px;
      }

      @include media-max-s() {
        border-radius: 8px;
        @include size(100%, 220px);

        img {
          object-fit: cover;
        }
      }
    }

    &__label {
      @include font-size(20px, 1.4, 500);

      letter-spacing: -0.6px;
    }
  }

  &.b-block-banner-slider {

    padding-bottom: 70px;
    .b-block-banner {
      padding: 0;
    }
  }
}
