$block-name: "block-how-it-was";

.#{$block-name} {

  margin-bottom: 48px;


  &__tabs {
    @include flex(row, null, center, 12px);

    margin-bottom: 48px;
  }

  &__tab {
    padding: 8px 16px;

    @include font-size(14px, 19.6px, 500);
    @include color(#000);
    @include bg-color(#f3f3f6);
    
    border-radius: 60px;

    @include transition(#{color, background-color});

    cursor: pointer;

    @include hover() {
      @include color(#fff);
      @include bg-color(#00aae6);
    }

    &.disabled {
      pointer-events: none;
      @include color(#a5b4c3);
      @include bg-color(#f7f7f8);
    }
    
    &.active-tab {
      pointer-events: none;
      @include color(#fff);
      @include bg-color(#00aae6);
    }
  }

  &__container {

    @include position(relative);

  }

  &__item {
    @extend %hidden;

    @include position(absolute, $left: 0, $top: 0);
    @include transition(opacity);

    @include size(100%);
    @include max-size(100%);
    
    &.active-tab {
        @extend %visable;
    }

    &__title {
      @include font-size(36px, 39.6px, 500);
      @include max-size(912px);
      margin-bottom: 24px;
    }
    
    &__descr {
      @include font-size(20px, 28px, 500);
      @include max-size(912px);
      margin-bottom: 32px;
    }


    &__wrap {
      @include flex(row, $gap: 16px);
      @include flex-wrap();

      @include size(100%, 100%);
    }

    &__card-inner {
      transition: transform 0.6s;
      transform-style: preserve-3d;
      @include position(relative);
      @include size(100%, 100%);
    }

    &__card {
      $gap: 16px;
      $count: 3;

      @include size(100%, 186px);
      @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

      perspective: 1000px;
      
      @include position(relative);
      z-index: 1;


      @include flex(column);


      @include media-max-md() {
        $gap: 16px;
        $count: 2;
  
        @include max-size(calc((100% - ($gap * ($count - 1))) / $count));
        
      }
      
      @include media-max-s() {
        @include max-size(100%);
      }

      @include hover() {
        z-index: 2;
        .block-how-it-was__item__card-inner {
            transform: rotateY(180deg);
        }
      }

      &__front {
        @include position(absolute);
        @include size(100%, 100%);

        @include flex(column);

        padding: 16px;
        border-radius: 16px;
        @include bg-color(#f7f7f8);

        backface-visibility: hidden;
      }

      &__head {
        @include flex(row, space-between, center);

        margin-bottom: auto;
      }

      &__type {
        @include bg-color(rgba(214, 245, 255, 1));
        @include color(rgba(0, 127, 173, 1));
        @include font-size(14px, 20px, 500);
        
        border-radius: 6px;
        padding: 4px 8px;
      }

      &__status {
        @include font-size(16px, 22.4px, 500);
        @include color(rgba(160, 176, 191, 1));
      }


      &__task-title {
        @include font-size(20px, 28px, 500);
        margin-bottom: 16px;

      }

      &__result {
        @include flex(row, null, center, 16px);
      }
      
      &__result-item {
        @include flex(row, null, center, 6px);
        @include font-size(16px, 22.4px, 500);
      }


      &__details {
        @include position(absolute, $top: 0, $left: 0);
        @include transition(opacity);


        padding: 16px;
        border-radius: 16px;
        @include bg-color(#efeff2);
        @include size(100%, 100%);

        @include flex(column);

        transform: rotateY(180deg);
        backface-visibility: hidden;

        &__head {
          @include font-size(16px, 22.4px, 500);
          @include color(rgba(160, 176, 191, 1));
          margin-bottom: auto;
        }

        &__title {
          @include font-size(20px, 28px, 500);
          margin-bottom: 8px;
        }
        
        &__descr {
          @include font-size(16px, 22.4px, 500);
        }
      }

    }

    &__video {

      margin-bottom: 32px;

      &__wrap {
        margin-bottom: 12px;
        @include size(100%);
        @include flex();
        
        border-radius: 16px;
        overflow: hidden;
        
        outline: 4px solid white;
    outline-offset: -2px;

        video {
          
          @include size(100%);
        }
      }

      &__title {
        @include font-size(20px, 28px, 500);
        margin-top: -36px;
      }
      
      &__descr {
        @include font-size(16px, 22.4px, 500);

      }
    }
  }

}