$block-name: "b-block-clusters";

.#{$block-name} {

    padding-bottom: 48px;

    margin-bottom: 0 !important;

    a {
        text-decoration: unset !important;
    }

    @include media-max-s() {
        padding: 9px 0 48px;
    }

    &__wrap {
        @include flex($gap: 16px);
        @include flex-wrap();

        @include media-max-s() {
            @include flex($gap: 12px);
            padding: 0 5px;
        }
    }

    &__item {
        $gap: 16px;
        $count: 4;

        @include flex(column);
        @include min-size(null, 242px);
        @include size(100%);
        @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

        @include bg-color($gray-light);
        @include transition(background-color);

        border-radius: 16px;
        padding: 16px;

        @include media-max-md() {
            border-radius: 8px
        }

        @include media-max-s() {
            padding: 12px;
            border-radius: 8px
        }

        @include hover() {
            @include bg-color($gray-light-2);

            .b-block-clusters__item__link {
                @include color($blue-light);
                @include flex($gap: 8px);

                svg path {
                    fill: $blue-light;
                }
            }
        }

        @include media-max-md() {
            $gap: 16px;
            $count: 3;

            @include max-size(calc((100% - ($gap * ($count - 1))) / $count));

        }

        @include media-max-s() {
            @include min-size(null, unset);
            @include max-size(100%);
        }

        &__label {
            @include font-size(20px, 1.4, 500);
            @include color(#000);

            margin-bottom: 4px;
            letter-spacing: -0.6px;

            @include media-max-s() {
                @include font-size(16px, 1.4, 500);

                letter-spacing: -0.48px;
                margin-bottom: 0;

            }
        }

        &__descr {
            @include font-size(16px, 1.4, 500);
            @include color($gray);
            letter-spacing: -0.48px;
            margin-bottom: auto;

            @include media-max-s() {
                @include font-size(16px, 1.37, 500);
                margin-bottom: 16px;
            }
        }

        &__link {
            @include font-size(16px, 1.4, 500);
            @include color(#000);
            @include flex(row, null, center, $gap: 0);
            @include font-size();
            @include transition(#{gap, color});

            letter-spacing: -0.48px;

            @include media-max-s() {
                @include font-size(12px, 1.4, 500);
                letter-spacing: -0.24px;

            }

            svg path {
                @include transition(fill)
            }

            svg {
                @include media-max-s() {
                    @include size(14px, 14px);
                }
            }
        }
    }

}