$block-name: "block-computing-systems-presentation";

.#{$block-name} {

  @include bg-color(#00AAE6);
  @include flex(row, space-between, center);
  border-radius: 16px;
  
  margin-bottom: 48px;
  padding: 32px 48px;
  
  @include media-max-md() {
    @include flex(column, null, flex-start, $gap: 16px);
    padding: 16px;
    border-radius: 8px
  }
  
  &__label {
    @include font-size(36px, 39.6px, 500);
    @include color(#fff);
    
    letter-spacing: -0.03em;
    
    @include media-max-md() {
      @include font-size(24px, 1.2, 500);
    }
  }

  &__btn {

  }

}