<ul class="search-select__list js-c-list">
  <li class="search-select__list__item js-c-university-item" data-index="0" data-value="Россия">
    <span class="search-select__list__item__short-name js-c-short-name">Россия</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="1" data-value="Армения">
    <span class="search-select__list__item__short-name js-c-short-name">Армения</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="2" data-value="Азербайджан">
    <span class="search-select__list__item__short-name js-c-short-name">Азербайджан</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="3" data-value="Беларусь">
    <span class="search-select__list__item__short-name js-c-short-name">Беларусь</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="4" data-value="Казахстан">
    <span class="search-select__list__item__short-name js-c-short-name">Казахстан</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="5" data-value="Кыргызстан">
    <span class="search-select__list__item__short-name js-c-short-name">Кыргызстан</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="6" data-value="Молдова">
    <span class="search-select__list__item__short-name js-c-short-name">Молдова</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="7" data-value="Таджикистан">
    <span class="search-select__list__item__short-name js-c-short-name">Таджикистан</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="8" data-value="Туркменистан">
    <span class="search-select__list__item__short-name js-c-short-name">Туркменистан</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="9" data-value="Узбекистан">
    <span class="search-select__list__item__short-name js-c-short-name">Узбекистан</span>
  </li>
  <li class="search-select__list__item js-c-university-item" data-index="10" data-value="Другое">
    <span class="search-select__list__item__short-name js-c-short-name">Другое</span>
  </li>
</ul>