<div class="block-accreditation-form__project">

  <div class="block-accreditation-form__projects-list js-accreditation-project-list">
    <div class="block-accreditation-form__project-wrap js-accreditation-project-item">
      <div class="block-accreditation-form__project__title js-accreditation-project-title hidden">
        Проект
        <span class="block-accreditation-form__project__index js-accreditation-project-index">
          1
        </span>
      </div>
      <div class="block-accreditation-form__row">
        <label class="b-career-form__field js-b-input">
          <span class="b-career-form__field__label">Название проекта</span>
          <input type="text" name="project-name" class="b-career-form__field__input js-b-input__field" data-required>
          <span class="alert-input-text"></span>
        </label>

        <label class="b-career-form__field js-b-input">
          <span class="b-career-form__field__label">Заказчик</span>
          <input type="text" name="client" class="b-career-form__field__input js-b-input__field" data-required>
          <span class="alert-input-text"></span>
        </label>
      </div>

      <div class="block-accreditation-form__row">
        <label class="b-career-form__field js-b-input">
          <span class="b-career-form__field__label">Год и срок реализации</span>
          <input type="text" name="year" class="b-career-form__field__input js-b-input__field" data-required>
          <span class="alert-input-text"></span>
        </label>

        <label class="b-career-form__field js-b-input">
          <span class="b-career-form__field__label">Объём</span>
          <input type="text" name="volume" class="b-career-form__field__input js-b-input__field" data-required>
          <span class="alert-input-text"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="block-accreditation-form__project__add js-project-add">
    <div class="block-accreditation-form__project__add__icon">
      {{{getSvg src="plus"}}}
    </div>
    Добавить ещё проект
  </div>
</div>