<div class="breadcrumbs">
  <div class="breadcrumbs__list">
    {{#each this.list.pages}}
    <div class="breadcrumbs__item">
      <a href="{{this.href}}" class="breadcrumbs__link">
        {{this.title}}
      </a>
    </div>
    {{/each}}
  </div>
</div>