<header class="b-layout__header b-layout__header--fixed">
  <div class="b-header">
    <div class="b-header__content">
      <div class="b-header__logo">
        <a class="b-header__logo-link " href="/"></a>
      </div>
      <div class="b-header__menu">
        <div class="b-menu-header-mobile b-menu-header-mobile--js_init" data-b-menu-header-mobile-bemid="8"
         >
          <div class="b-menu-header-mobile__burger b-menu-header-mobile__burger--js_init js-mobile-menu-btn"
            data-b-menu-header-mobile__burger-bemid="9"></div>
          <div class="b-menu-header-mobile__body">
            <div class="b-menu-header-mobile__content">
              <div
                class="b-menu-header-mobile__block b-menu-header-mobile__block--id_0 b-menu-header-mobile__block--type_main ps b-menu-header-mobile__block--js_init b-menu-header-mobile__block--active"
               >

                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/about/">Холдинг</a>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/solutions/">Решения</a>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/products/">Продукты</a>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/competencies/">Центры
                    компетенций</a>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/projects/">Проекты</a>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/purchases/">Закупки</a>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/events/">Мероприятия</a>
                </div>
                <div class="b-menu-header-mobile__elem js-mobile-submenu">
                  <a class="b-menu-header-mobile__link js-submenu-trigger">Карьера</a>
                  <div class="b-menu-header-mobile__submenu js-submenu-wrap">
                    <div class="b-menu-header-mobile__submenu__back js-submenu-trigger"></div>

                    <div class="b-menu-header-mobile__submenu__wrap">
                      <div class="b-menu-header-mobile__submenu__wrap__label">Работа в T1</div>
                      <div class="b-menu-header-mobile__submenu__wrap__text">Выбирайте подходящее направление и присоединяйтесь, чтобы вместе
                        создавать технологии, определяя будущее!</div>
                      <a href="/career/" class="b-menu-header-mobile__submenu__wrap__link">Подробнее</a>
                    </div>
                    <div class="b-menu-header-mobile__submenu__wrap">
                      <div class="b-menu-header-mobile__submenu__wrap__label">Начало карьеры</div>
                      <div class="b-menu-header-mobile__submenu__navigation">
                        <a href="/openschool/" class="b-menu-header-mobile__submenu__navigation__link">Открытые школы Т1</a>
                        <a href="/camp/" class="b-menu-header-mobile__submenu__navigation__link">ИТ-лагерь Т1</a>
                        <a href="/debut/" class="b-menu-header-mobile__submenu__navigation__link">Стажировка Т1. Дебют</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-menu-header-mobile__elem">
                  <a class="b-menu-header-mobile__link" href="/news/">Пресс-центр</a>
                </div>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                  <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                  <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
              </div>

            </div>
            <div class="b-menu-header-mobile__footer">
              <span class="c-small-button colorbox-form-contact-us">Написать нам</span>
            </div>
          </div>
        </div>
        <div class="b-menu-header b-menu-header--js_init" data-b-menu-header-bemid="11">
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/about/">Холдинг</a>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/solutions/">Решения</a>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/products/">Продукты</a>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/competencies/">Центры компетенций</a>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/projects/">Проекты</a>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/purchases/">Закупки</a>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/events/">Мероприятия</a>
          </div>
          <div class="b-menu-header__elem dropdown js-dropdown">
            <a class="b-menu-header__link dropdown-trigger dropdown-hover" href="/career/">Карьера</a>
            <div class="b-menu-header__dropdown-wrap">
              <div class="b-menu-header__dropdown__bg"></div>
              <div class="b-menu-header__container">
                <div class="b-menu-header__dropdown dropdown-list">
                  <div class="b-menu-header__dropdown__wrap left">
                    <div class="b-menu-header__dropdown__wrap__label">Работа в T1</div>
                    <div class="b-menu-header__dropdown__wrap__text">Выбирайте подходящее направление<br> и присоединяйтесь, чтобы вместе создавать технологии, определяя будущее!</div>
                    <a href="/career/" class="b-menu-header__dropdown__wrap__link">Подробнее</a>
                  </div>
                  <div class="b-menu-header__dropdown__wrap">
                    <div class="b-menu-header__dropdown__wrap__label">Начало карьеры</div>
                    <div class="b-menu-header__dropdown__navigation">
                        <a href="/openschool/" class="b-menu-header__dropdown__navigation__link">Открытые школы Т1</a>
                        <a href="/camp/" class="b-menu-header__dropdown__navigation__link">ИТ-лагерь Т1</a>
                        <a href="/debut/" class="b-menu-header__dropdown__navigation__link">Стажировка Т1. Дебют</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="b-menu-header__elem">
            <a class="b-menu-header__link" href="/news/">Пресс-центр</a>
          </div>
        </div>
      </div>
      <div class="b-header__search">
        <div class="b-search-header b-search-header--js_init" data-b-search-header-bemid="13">
          <div class="b-search-header__burger b-search-header__burger--js_init" data-b-search-header__burger-bemid="14"
           ></div>
          <form class="b-search-header__form-mobile l-indent-all-all" action="/search/" method="get">
            <input class="b-search-header__form-mobile-input" type="text" name="q" value=""
              placeholder="название проекта, клиент, год, направление">
          </form>
        </div>

      </div>
      <div class="b-header__button">
        <span class="c-small-button colorbox-form-contact-us">Написать нам</span>
      </div>
    </div>
  </div>
</header>