.editor-content {
    h1 {
        @include font-size(30px, 1.2, 700);

        @include media-max-md() {
            @include font-size(1rem, 1.2, 700);

            & + * {
                margin-top: 30px;
            }
        }

        & + * {
            margin-top: 50px;
        }
    }

    * + h1 {
        @include media-max-md() {
            margin-top: 30px;
        }

        margin-top: 50px;
    }

    h2 {
        @include font-size(27px, 1.2, 700);
        @include media-max-md() {
            @include font-size(19px, 1.2, 700);

            & + * {
                margin-top: 25px;
            }
        }

        & + * {
            margin-top: 40px;
        }
    }

    * + h2 {
        @include media-max-md() {
            margin-top: 25px;
        }

        margin-top: 40px;
    }

    h3 {
        @include font-size(24px, 1.2, 700);
        @include media-max-md() {
            @include font-size(18px, 1.2, 700);

            & + * {
                margin-top: 20px;
            }
        }

        & + * {
            margin-top: 30px;
        }
    }

    * + h3 {
        @include media-max-md() {
            margin-top: 20px;
        }

        margin-top: 30px;
    }

    h4 {
        @include font-size(1rem, 1.2, 700);

        @include media-max-md() {
            @include font-size(0.8rem, 1.2, 700);

            & + * {
                margin-top: 15px;
            }
        }

        & + * {
            margin-top: 20px;
        }
    }

    * + h4 {
        @include media-max-md() {
            margin-top: 15px;
        }

        margin-top: 20px;
    }

    h5 {
        @include font-size(18px, 1.2, 700);

        @include media-max-md() {
            @include font-size(14px, 1.2, 700);

            & + * {
                margin-top: 5px;
            }
        }

        & + * {
            margin-top: 10px;
        }
    }

    * + h5 {
        @include media-max-md() {
            margin-top: 5px;
        }

        margin-top: 10px;
    }

    p {
        @include font-size(18px, 1.2, 400);

        @include media-max-md() {
            @include font-size(0.8rem, 1.2, 400);

            & + * {
                margin-top: 10px;
            }

            & + p {
                margin-top: 5px;
            }
        }

        & + p {
            margin-top: 10px;
        }
    }

    * + p {
        margin-top: 20px;

        @include media-max-md() {
            margin-top: 10px;
        }
    }

    b {
        font-weight: 600;
    }

    a {
        @extend %clickable;


        text-decoration: underline;

        font-weight: 600;
    }

    img,
    video,
    iframe {
        @extend %overflow-clip;

        user-select: none;

        @include max-size(100%);

        object-fit: cover;

        border-radius: 10px;

        + img,
        + iframe,
        + video {
            margin-left: 20px;

            @include media-max-md() {
                margin-left: 10px;
            }
        }
    }

    * + img,
    * + video,
    * + iframe {
        margin-top: 20px;

        @include media-max-md() {
            margin-top: 10px;
        }
    }

    ol {
        list-style: initial;
        padding-left: 20px;

        li {
            @include font-size(18px, 1.2, 400);

            list-style: decimal;

            @include media-max-md() {
                @include font-size(0.8rem, 1.2, 400);
            }

            &::marker {
                @include font-size(18px, 1.2, 400);

                @include media-max-md() {
                    @include font-size(0.8rem, 1.2, 400);
                }
            }

            & + li {
                margin-top: 10px;

                @include media-max-md() {
                    margin-top: 5px;
                }
            }
        }

        @include media-max-md() {
            & + * {
                margin-top: 10px;
            }
        }

        & + * {
            margin-top: 20px;
        }
    }

    * + ol {
        margin-top: 20px;

        @include media-max-md() {
            margin-top: 10px;
        }
    }

    ul {
        padding-left: 20px;

        li {
            @include position(relative);
            @include font-size(18px, 1.2, 400);

            @include media-max-md() {
                @include font-size(0.8rem, 1.2, 400);
            }

            &::before {
                @include position(absolute, $left: -17px, $top: 7px);

                @include size(5px, 5px);

                border-radius: 50%;

                content: "";
            }

            & + li {
                margin-top: 10px;

                @include media-max-md() {
                    margin-top: 5px;
                }
            }
        }

        @include media-max-md() {
            & + * {
                margin-top: 10px;
            }
        }

        & + * {
            margin-top: 20px;
        }
    }

    * + ul {
        margin-top: 20px;

        @include media-max-md() {
            margin-top: 10px;
        }
    }

    table {
        border-collapse: collapse;

        td,
        th {
            padding: 4px;
        }
    }

    * + table {
        margin-top: 20px;

        @include media-max-md() {
            margin-top: 10px;
        }
    }
}
